[2017-06-19 19:56] stvhwrd opened #5 "Add your affiliate link to your PIA link in README"
Add your affiliate link to your PIA link in README.  You deserve to benefit from whatever new signups they get as a result of this project you're developing.

See https://www.privateinternetaccess.com/pages/affiliates/ for information on their generous affiliate program.

[2017-06-19 19:59] tom472 commented on #5
Thanks for the tip - hadn't really thought of that.
I'll try to get that added in.

[2017-06-19 20:38] stvhwrd opened #6 "Add a LICENSE textfile"
For people to use mediabox, you'll need to specify some kind of license.

[TL;DR Legal](https://tldrlegal.com/) and [Choose A License](https://choosealicense.com/) are handy for helping you decide.

[2017-06-20 00:17] tom472 commented on #6
Thanks - I've been meaning to get around to that - just kept slipping my mind.
Added MIT License.

[2017-06-20 00:25] #6 closed

[2017-06-20 00:32] tom472 commented on #5
I think I might pass on this.
Thanks for mentioning it and passing it on but not really sure I want to create an affiliate account.

[2017-06-20 00:32] #5 closed

[2017-06-28 14:40] wibuf opened #8 "Possible to add Radarr?"
https://github.com/Radarr/Radarr

[2017-06-28 15:57] tom472 commented on #8
Yes - I have been looking into adding Radarr
Just need a bit of spare time - there already is a known good Docker container for it so adding it in shouldn't take too long.

Since you are interested - let me ask you a question:
Would you be interested in having Radarr available alongside Couchpotato?
Or in place of Couchpotato?

Just trying to get a feel for people's thoughts.

Thanks

[2017-06-28 16:04] wibuf commented on #8
I've always had a bunch of issues with Couch so I would be looking to replace it completely with Radarr. There may be some people wanting Couch though so if there's a way to make it an option it may be good to include both.

[2017-06-30 07:13] alicam opened #10 "S3 storage?"
So it's got Minio...

Does that mean I can run up a cheap VM on Digitalocean but access loads of storage on S3? Can I download and "post-process" stuff to the server, but then save to and serve from S3?

If not be default, how might that be accomplished?

[2017-07-03 14:30] tom472 commented on #10
While yes this has Minio and it is a great S3 compatible storage option I may be changing that soon.
I have been looking a possibly swapping Minio for Pydio.
Just looking for an easy front-end for the files within the project should users need to do any file/folder manipulation.

But yes - if you have access to a large amount of local storage you can certainly use Minio to front-end the access to

[2017-07-14 17:42] #10 closed

[2017-07-14 17:44] tom472 commented on #8
@wibuf Sorry for the delay on this -
I hope to be able to get on this pretty shortly.

[2017-07-24 13:47] steev182 opened #11 "Possible to choose different VPN provider"
So PIA seems to be a bit slow on their support for me to even get a username, and it is making me reconsider even using them. Could there be a way to change the VPN provider?

[2017-07-24 14:28] tom472 commented on #11
That's really surprising -
PIA has been a top choice in VPN providers for a while.
I don't even recall having to wait at all for the username and password to be generated for me.

Let me know if you used the link to PIA that is in my Readme - that is a referral link and I would be interested to know if that was part of the delay. Because if that is the case I'll remove that link.

For the containe

[2017-07-24 14:30] steev182 commented on #11
Thanks,

I didn't notice the info when I wrote the issue, but then read it and saw I
didn't need to open the issue!

I'll give them a few more days, hopefully they'll come through.

Steve

On Mon, Jul 24, 2017 at 10:28 AM, Tom Morgan <notifications@github.com>
wrote:

--
Steve Mulcahy

www.gears-gadgets.com

[2017-08-13 22:08] tom472 commented on #8
Radarr has been added to Master via pull https://github.com/tom472/mediabox/pull/12

Thanks for the suggestion - Again sorry for the delay on this.

[2017-08-13 22:08] #8 closed

[2017-08-13 22:09] #11 closed

[2017-08-13 22:10] tom472 commented on #11
Closing - looks like @steev182 might have had PIA start working.

[2017-10-09 01:44] danipolo opened #14 "Errors building"
Hi, I'm trying to deploy this awesome stack and getting the following errors while installing:

[code]

Ubuntu 16 Xenial fresh install.

[2017-10-09 01:54] danipolo opened #15 "cAdvisor issues"
Hi,

This is failing for me. Ubuntu 16 fresh install.

[code]

[2017-10-09 17:31] tom472 commented on #14
This line:
`./mediabox.sh: line 113: latest:: command not found`
Has been something there for a bit - I am no longer pulling any images with the "latest" tag anymore - but even it not specified - "latest" is assumed by default. We'll see if this corrects it.

As for the issues with the sed commands - I just started seeing this too.
Looks like there is an issue with this part running if the DelugeV

[2017-10-09 17:33] tom472 commented on #15
OK This I'll have to look into, as I haven't seen this happen before.

[2017-10-09 18:54] tom472 commented on #14
OK try giving this another shot.
Issues should be corrected now.

Let me know how it goes.

[2017-10-09 19:14] tom472 commented on #15
OK I have currently pulled cAdvisor -
I was unable to track down what was causing the errors.
Taking a look over at the official cAdvisor page shows there may be some issues with the image to get worked out.

I'll either continue to try and fix cAdvisor or find a replacement monitoring option.

Any suggestions?

[2017-10-12 22:44] tom472 commented on #14
Any chance to get back to trying this again?

Thanks

[2017-10-15 22:21] tom472 commented on #15
Closing this issue - cAdvisor has been replaced with NetData

[2017-10-15 22:21] #15 closed

[2017-10-15 22:22] tom472 commented on #14
No word back from @danipolo - however through some other testing it looks like the issue has been resolved.

[2017-10-15 22:22] #14 closed

[2017-10-16 13:20] danipolo commented on #14
Sorry @tom472 didn't see. I will check again. Thanks

[2017-10-16 15:45] tom472 commented on #14
@danipolo  Was it better now?

[2017-10-16 15:47] danipolo commented on #14
Sure but I still having issues with DelugeVPN. I will detail it soon with
more info. Thanks.

El lun., 16 oct. 2017 a las 17:45, Tom Morgan (<notifications@github.com>)
escribió:

[2017-12-30 18:53] Fr33loader opened #21 "ARM version of the installer script"
Hi guys,

Love the project, looks very promising!

Unfortunately, my installation always blocks at the stage "Configuring Deluge daemon access - UHTTPD index file - Permissions".

**Hardware / software config:**

- Rock64 running Xenial minimal (light version of Ubuntu 16.04 LTS).
- Docker version 17.12.0-ce, build c97c6d6
- Docker-compose version 1.18.0, build 8dd22a9

I ran all pre-configuration

[2017-12-30 19:58] Fr33loader commented on #21
I did a "workaround" by copying the conf file from the original repo (https://github.com/binhex/arch-delugevpn/blob/master/config/nobody/deluge/core.conf) to my delugevpn/config/cpre.conf folder.

The setup script runs its course after that tweak, and finishes by linking to a webpage. I tried opening that webpage (i.e. the server IP) from another computer in the network, but it cannot connect. Giv

[2017-12-31 18:11] tom472 commented on #21
Yes this is due to the ARM architecture - this is currently for intel/amd.

However - that being said, a good bunch of these containers that do have ARM versions.

If you wanted to tell me like the bare minimum of the the containers you are looking to spin up I'd take a stab at configuring an ARM version of the project.

Let me know.

[2018-01-01 03:07] Fr33loader commented on #21
What a service! That would be absolutely brilliant.

Bare minimum would be:
- Plex
- Delugevpn
- Sonarr
- Radarr (OR alternatively, Couchpotato)

Preferably (but less required): Jackett.

In all honesty, a working version of Delugevpn would be perfect. The others I can install relatively easy outside of Docker (though for a variety of reasons I prefer Docker).

Any plans of adding support for the

[2018-01-01 21:36] joshnat opened #22 "Mount external volumes"
I'm new to Docker, and was able to install Mediabox with no problem on a fresh Ubuntu 17.10 install.  Previously I was running all my media apps individually, but wanted deluge/vpn and split tunneling wasn't working for me.  I also liked the ease of install of Mediabox and your readme was perfect.

All my media is saved on a separate volume from the host, but the same computer.  The mountpoint is

[2018-01-01 22:02] joshnat commented on #22
Nevermind, I think I figured it out.  I needed to edit the container in Portainer, and change the paths from the paths inside the mediabox folder to the mounted volumes on the host.  Phew!  If you have any other insight please let me know!

[2018-01-02 03:20] tom472 commented on #21
Hey @Fr33loader - Give me a bit of time and I'll see what I can do.

As for adding SABNZBD .. I might add it I don't have / use newsgroups so if I did add it I wouldn't be able to provide much if any support for it.

Stay tuned and I'll see what I can do.

[2018-01-02 03:37] tom472 commented on #22
FYI - The locations that the Mediabox project ~are~ mount point on the "host" machine they however are located under where you downloaded the repo to.

One of the items that I am working on is a way to have the user provide folders/locations during the setup if they already have directories with data in them already.

Is your `/media/josh/AUDIOVISUAL` location on a different disk from where the Me

[2018-01-02 08:11] Fr33loader commented on #21
Much appreciated!

[2018-01-06 02:01] Ryanb58 opened #23 "Adding Update Process to README"
It would be nice to get an update process defined in the readme.

[2018-01-06 15:54] Fr33loader commented on #21
By way of update: I gave it a shot myself and (in essence) ran the same install script, but with armhf images of the same docker containers:

- ledokun/armhf-arch-delugevpn
- lsioarmhf/jackett
- lsioarmhf/sabnzbd (I would have preferred binhex's arch-sabnzbdvpn container, but could not find an armhf version)
- portainer/portainer:latest (I tried running with the 'arm' tag first, but that did not w

[2018-01-07 01:28] Ryanb58 opened #25 "Allow the user to select a specific PIA server."
I like to use a specific PIA server. It would be nice if the script let one select their favorite.

[2018-01-08 01:14] tom472 commented on #23
Yes - this is something that I am currently working on.
Trying to fully get the logic right when it comes to determining if the project is being run for the first time or if it is an upgrade.

Sorry for the delay on this - however it is high on my "to-do" list.

Thanks

[2018-01-08 01:29] tom472 commented on #21
That's awesome - Thanks for coming back and providing the info on the containers you used.

When you say you installed Plex separately - do you mean still as a container, or directly on the Rock64?

Thanks again for the info - hopefully I can get this together as a project fairly soon.

[2018-01-08 01:43] tom472 commented on #25
Do you know which server you are interested in?

Just an FYI - the Deluge VPN setup strongly recommends a server that allows port forwarding.

If I did add the ability to select a specific server I would most likely still leave the choice from the port forwarding servers list -- via PIA this is the list:

Does the server you prefer appear in this list?
If yes - then that is good and I will work on

[2018-01-08 01:47] tom472 commented on #22
Closing this issue - @joshnat if you come back and need more help just let me know.

[2018-01-08 01:47] #22 closed

[2018-01-08 14:48] Ryanb58 commented on #25
The server I like to use is on that list. I think most people who to set this up will most likely use one at random or select one that they like best. I know the high level laws in the country I choose, so as to ensure my torrents are not illegal.

[2018-01-08 21:51] Fr33loader commented on #21
I installed it directly on the Rock64 in the end. I tried installing it as a docker container first, but that didn't work out (docker container worked well, but the PMS install was full of errors). I believe I tried the lsioarmhf/plex container. In all fairness, I gave up relatively quickly, and there are a few other containers I could've tried (besn0847/arm-plex or jaymoulin/rpi-plex for example)

[2018-01-09 03:13] tom472 commented on #21
OK got it .. thanks again for the info, I hope to get to this soon.
Out of curiosity .. how do you like the Rock64? How is the performance with several containers running?

[2018-01-09 22:07] Fr33loader commented on #21
So far so good. I have the 4GB ram version and must say I'm rather impressed.

Internet speeds are very good (close to theoretical max) and stable (no spikes), idem with disk write speeds. The Xenial minimal installation is relatively stable and bug-free so far and the system does not generate much heat. It's a bit of tinkering to get things started (community is still relatively small), but it's

[2018-01-09 22:39] tom472 commented on #21
Awesome - thanks for the review - I have been eyeing the Rock64 for a while.
Probably grab one shortly to mix in with my RPi's

[2018-01-12 07:15] kspillane commented on #21
I have a couple RPi2's sitting right next to me waiting for a project.

I am sure they would not work in any form of production (and I wouldn't want them to), but I can try over the weekend to see if I can such code put it, if it hasn't been committed already.

Should be as simple as check the architecture type for ```armhf``` and then setting variables in ```.env``` to use the different images.

[2018-01-12 15:10] tom472 commented on #21
@kspillane Yeah that's pretty much how i was going to attack it.

@Fr33loader Provided a pretty solid list of the ARM containers that fit the same purposes of the normal Mediabox containers.

I was going to play around with all the images first to make sure they function / work as expected and there's no gotcha's.
Then do the architecture check and move forward from there.

[2018-01-15 23:03] kspillane commented on #23
If we are talking about getting a new version of the script to add new features, why not generate the compose and .env files dynamically and not include them as part of the repository? In fact, you probably wouldn't even need the .env file at all. Then you wouldn't need to check anything, any run would be a first run, and if the directories already exist, there shouldn't be any problems. They'd ei

[2018-01-16 14:52] kspillane commented on #21
I am going to work on this in my free time today, should have something by this evening.

[2018-01-16 17:58] tom472 commented on #23
I personally like the use of the `.env` file it makes for a much cleaner overall `docker-compose.yml` file.
However - I am going to pull the `.env` file from the repo, since it is just a stub, and that way there will be no `.env` file on any first run and it will be there if you re-run and then I can adjust for that.

[2018-01-17 14:37] tom472 commented on #21
Wow!! that's awesome -
Do you have it in a repo yet? I have a Pi I can test with.

Netdata is probably not even really necessary for a smaller ARM device - but I'll still look around.

Plex is kind of tough on ARM - I have been using an awesome RPi distro called [DietPi](http://dietpi.com/) and have tested/run its version of Plex on a Pi successfully. I haven't had a ton of time to dig through the

[2018-01-17 16:50] tom472 commented on #25
@Ryanb58 I have a working demo of VPN selection in a separate branch right now if you want to test it.

https://github.com/tom472/mediabox/tree/VPN_Menu

I have for the most part put it through its paces in testing and it appears to be good.
Expecting to merge this into master by the weekend hopefully.

If you try it - let me know if you have any issues.

Thanks
--Tom

[2018-01-17 20:12] kspillane commented on #21
Initial ARM installer commit: https://github.com/kspillane/mediabox/commit/68d267c9484bd0bf8b25239672193eb7de49b6ef

Let me know what you think, and also fi it works on your RPi.

[2018-01-17 20:35] tom472 commented on #21
Looks great so far - I'll try to test soon -

Is there a way to do "voting" on Github?

I want to pose the following Question to potential Mediabox users:

Should this all be one project that detects your arch OR a separate project for each?
i.e Mediabox & Mediabox-ARM

Thoughts?

[2018-01-17 20:56] kspillane commented on #21
I say keep them together if we can, to keep it simple. All we are really doing here is setting which images we use depending on the architecture. The only real issue would be hoping those arm containers stay updated.

In all honesty, I don't know why anyone would want to run a full media stack on an ARM system. The Plex transcoder can easily eat up my CPU usage when transcoding x264, as will mono

[2018-01-17 21:14] tom472 commented on #21
See - that's kind of my thinking too is that the full stack on an ARM box, while cool, might not be all that effective. So is it worth the effort in keeping it in the main project and hoping the ARM containers stay up to date.

I'd kind of rather have people find their way to Mediabox "proper" so to speak and then mention that if you want to try and use an ARM device we have a "working" solution f

[2018-01-17 23:00] kspillane commented on #21
Well then why not make a new branch for ARM, should be pretty easy to keep the code lines merged. Or provide a caveat that ARM systems have performance problems, maybe, I am just assuming they do. Really, plex is going to be the only issue, everything else would probably work fine. And having services like netdata, minio, duplicati, or even running it as a seed box would be pretty neat on a cheap

[2018-01-18 22:30] kspillane commented on #23
So, I am curious as to what exactly would be done in an update? Are we talking like redoing the configuration, or downloading a new version of the script to get new features?

If we are talking redoing the config to change settings. A few modifications to the way files are moved by the script (change form mv to cp - which I think is better anyway) and not appending to the .env file each time (recr

[2018-01-18 22:55] Fr33loader commented on #21
Chipping in: on a personal note, I'd prefer one project. I'd imagine many users are hobbyists, so this would keep things as simple as possible.

I get your point on the performance, but I think that people buying ARM device (PI, Odroid, Rock64) are aware of the limitations, so they'd know to blame it on the device instead of on the software.

[2018-01-19 03:00] tom472 commented on #23
The main goal of an update is for major changes to the project to be reflected for users who already have it running.

Like if a container get replaced - For example when Mediabox started there wasn't an official PLEX container now there is so I have changed to that. And I am currently considering a replacement for Minio.

Or new features like - I have just made a commit for PIA server selection -

[2018-01-19 03:49] tom472 commented on #25
@Ryanb58 This issue has been merged into master via https://github.com/tom472/mediabox/pull/28
Please let me know if it works for you.

[2018-01-19 04:18] kspillane commented on #23
Would you want to check for updates automatically, or whenever the program is run? If you don't do it manually, there'd have to have a way of letting the users know that there is an update.  If the latter, maybe make a website or facebook page for mediabox so people can know about new releases, then they can rerun the script to do the update. If the former, well that's more difficult, probably don

[2018-01-19 04:26] kspillane commented on #21
Hey @Fr33loader ! If you want to test out the ARM support and see how it works for you, it is here:

https://github.com/kspillane/mediabox/tree/enhance-ARMSupport

The more ARM platforms we can get it tried out on, the more info we will have about how it works.

[2018-01-19 14:40] tom472 commented on #21
@kspillane Thanks for the post - I have been a little swamped and haven't had a chance to test this on a Pi yet. I hope to have a bit of time this weekend.

[2018-01-19 14:56] tom472 commented on #23
My current thought is based on the next "big" change I want to make.

The big change I want to make next is to the "landing page", I am looking to replace that with a more robust webserver container (nginx, php-fpm type container) and use some sort of simple (probably flat-file) CMS system like Grav or something so that the landing page can look better and have more info.

Then the thought is to b

[2018-01-19 16:13] kspillane commented on #23
I was going to play with improving the landing page also. I will try some things this weekend. I hate doing front-end design and UX stuff though. I was going to redo it in bootstrap because it is easy, but I will take a look at Grav, a cursory glance leads me to believe it may be better.

Also, in the ARM support code, I switched from uHTTPd to nginx with no issues. I can create a PR for that if y

[2018-01-19 17:37] tom472 commented on #23
Hold tight on a PR for nginx - because I've been eyeballing a couple Grav containers and they already have nginx php-fpm etc. in the container. So if I can make it look right it will be a simple swap for a "Grav" container that will have all the necessary parts.

Thanks

[2018-01-19 17:55] kspillane commented on #23
Neat, I will try to write up some help pages in markdown, Descriptions of how to use the various services, links to their pages, etc.

[2018-01-21 19:55] tom472 commented on #25
This has been tested and appears to be working correctly.

If anyone has any problems with using it please let me know.

[2018-01-21 19:55] #25 closed

[2018-02-01 14:57] rudolph4404 opened #29 "Add Mylar support"
Add Mylar support for comics and lidarr for ebooks.

[2018-02-01 15:16] kspillane commented on #29
I can take care of this over the next week.

Would probably also want to add Gazee for reading comics, and may as well add Headphones for music.

Thoughts on this @tom472 ?

[2018-02-01 15:25] tom472 commented on #29
Headphones has been on the "ToDo" for a while --
But I am currently really trying to fix/improve the landing page.
So these requests might need to wait just a bit.

I have been testing [Organizr](https://organizr.us/) and pretty much have a working config.
Testing this weekend should let me know if I can get the custom config shimmed in to the project.

But in general - Yes - Headphones, Mylar, Li

[2018-02-13 21:58] kspillane commented on #29
Hey @tom472 any update on the Organizr front-end front?

I tried it out, it was ok. Have you looked into [Muximux](https://github.com/mescon/Muximux)?

[2018-02-18 03:29] tom472 commented on #29
Sorry just seeing this been away on vacation.
I've tried muximux and organizr kinda liked organizr better. Does muximux still need a plug-in for it to work correctly in some browsers? That was a stopping point for using that for me.
I do have a pretty good working setup that I need to add in and commit. I should be able to get to that pretty soon after I return from vacation.

[2018-02-23 03:37] tom472 commented on #29
Hey @kspillane
So it turns out Organizr's config is tough to adjust on the fly with current settings etc.
Gave it a couple tests but really couldn't get to to be "easy".
I'll be looking a Muximux again soon - probably over this weekend.
Stay tuned ..
Have you done / tested any configs with Muximux yet?

[2018-02-23 15:38] kspillane commented on #29
Nope, I just installed it to see what it was all about and realized it looked a lot simpler than organizr.

If Muximux is going to be a problem, I can retool [PyRedirector](https://github.com/kspillane/pyredirector) (my python / flask URL redirector) to suit our needs. I have been meaning to add an REST API so you can add redirects programmatically. I can easily change its functionality to only ha

[2018-02-23 17:22] tom472 commented on #29
If you could "containerize" your tool and it can be easily manipulated via the commandline/mediabox script that would be pretty cool.

I TOTALLY feel you on the "(I hate doing UI design though)." I am exactly the same. (As is totally apparent for the current horrible landing page)

I am definitely going to effort on Muximux over the weekend because it's a pretty simple container and shouldn't take

[2018-02-24 15:24] erfly7 opened #30 "help with drives"
Need help with drive permissions none of programs see hard drives

[2018-02-24 17:36] kspillane commented on #30
Hey @erfly7 !

I am going to be away from my pc most of today, but I can try to help.

First, what distribution and version of Linux are you using?
What release of docker and docker-compose are you running?
Can you do ls -l in the directory you are running mediabox from, so we can see the current permissions and ownerships?

Can you be a little more specific about the issue? Do the programs run an

[2018-02-25 02:02] erfly7 commented on #30
Ubuntu MATE 16.04

just copied the instructions from the page so not sure what docker versions?

Not sure what meant by directory running mediabox from?  (I did uninstall Mediabox and wiped my hard drives and reinstalled Ubuntu 16.04 , because could not find drives so if there is a solution would have to reinstall mediabox)

The issue is Mediabox installed fine and got to that page with all the pr

[2018-02-25 15:17] kspillane commented on #30
Ok, so the problem here is not a mediabox or a permissions issue. It is sounds like you are unclear how docker handles mount points for drive mappings.

Basically, when something runs in Docker, it runs isolated from the rest of your operating system, and that includes being able to access your hard drives. In general mediabox makes a directory called content (I think, I will admit, I don't actual

[2018-02-25 16:26] erfly7 commented on #30
Thanks so much for the reply

Yeah that's disappointing.

never used Docker before so completely lost as how to do this?

read some of the mounting volumes in Docker is beyond my Linux skill level.

any help or example you could offer would be great.

[2018-02-25 18:09] tom472 commented on #30
@erfly7 We can probably get this configured with a little tweaking.
Fist thing I would need to know is do you have all of the drives mounted under one location like `/mnt` on your Ubuntu system?

Medaibox right now is kind of set-up for people starting up a stack "for the first time".
I know that this is not optimal and that there are people that will want to use Mediabox who already have media/co

[2018-02-25 18:25] erfly7 commented on #30
Away from the PC until tonight but as couldn't get it working thought it was something on my end I wiped ubuntu and mediabox and just did clean install of ubuntu and that is as far as I have gotten as been looking around at alternatives like OMV, unraid etc.

but computer has unbuntu 16.04 installed on 120GB SSD

then 5 HDD that

/mnt/Media1

/mnt/Media2 <--------has movies/tv

/mnt/Media3 <------

[2018-02-25 18:37] tom472 commented on #30
Sorry I meant an "ls" of the location not "dir". (Windows / Linux brain mixup for a minute).
But what you provided above is basically what I was looking for.

Let me work on this a bit but I should be able to come up with a fix/tweak to get this going for you.

[2018-02-25 23:41] erfly7 commented on #30
Thanks I have not messed around with permissions or ownership of the drives yet as i know that always gave me problems with PLEX seeing them.

Also always had problems with Deluge, transmission etc downloading to a Download folder and then Sonarr and Radarr moving that completed file to storage on another hard drive.

[2018-02-26 00:45] kspillane commented on #30
Without giving a discourse on how to do storage with docker, here is the simplest thing you can do to fix your issues.

In the docker-compose file, there are sections for each service called volume. Here is the excerpt from the compose file for the section on plex:

[code]

The syntax works like this, `- '/path/to/actual/directory/on/machine:/mapped/path/in/container'`
So, if you have a path calle

[2018-02-26 02:37] erfly7 commented on #30
Yeah thanks that is pretty clear aside from is there a compose file for each container (Plex, Sonarr etc?)

and how do you access it?

[2018-02-26 03:28] tom472 commented on #30
There is one compose file it is located in the `mediabox` folder.
Named `docker-compose.yml`.

[2018-03-11 04:52] rudolph4404 opened #33 "deluge/sonarr integration"
To use Sonarr with Deluge, Deluge's WebUI & Label Plug-ins have to be installed. But in order to do this, Deluge asks for the Plug-in .egg file. These .egg files are something to do with the version of python that is installed, http://mrtopf.de/en/a-small-introduction-to-python-eggs/, but this does not appear to be installed in the container.

[2018-03-11 14:14] tom472 commented on #33
I guess my first question would be -
Are you actually using / wanting to use the "Label" plug-in?

If not - then when you are configuring Sonarr - just leave the box for category blank.
Then test the connection and it should succeed fine.

If you are really wanting to use the label plugin I can see if we can get that activated and remain in place through container stops and starts -- let me know.

[2018-03-11 17:07] rudolph4404 commented on #33
Sonarr wants a sonarrtv label so that it knows what to move to its permanent location. I haven't tried yet, but I'm guessing radarr will want a similar label for movies.Is there another way for the file management to work?If not, I'm stuck needing the labels.-ChuckOn Mar 11, 2018 9:14 AM, Tom Morgan <notifications@github.com> wrote:I guess my first question would be -
Are you actually using / want

[2018-03-12 03:23] tom472 commented on #33
Are you sure they're "needed"?
Couchpotato and Sickrage have no problems moving their content with out labels.
Have you tried it yet to see what happens? Do the files get moved at all?
I'll try with a couple files to see what happens. I generally use CP and SR tho so I haven't messed with Sonarr and Radarr much yet.

[2018-03-14 01:30] tom472 commented on #33
@rudolph4404 - FYI - I'm still looking at this.
I think I might see what's happening.
I'm seeing errors with where Sonarr is looking for the completed files.
I'm checking into it.

[2018-03-14 04:14] tom472 commented on #33
@rudolph4404 -- Are you using Sonarr with Usenet or Torrent?

I added Sonarr to Mediabox because there were a bunch of requests for it, I've actually never used it before testing for this issue, gotta say I'm not that impressed.
I cannot figure out why anyone would use this over SickRage ..

However - I think the root of the issue is that the container is configured to be looking at a folder calle

[2018-03-14 04:29] rudolph4404 commented on #33
I use sonarr with torrents. You are correct in that the labels are not mandatory, but they come in handy when there is related media (movies, books, comics, etc). Less chance of confusion over what app needs to decide on a final destination. The labels allow the sonarr family to know which app requested the download.

On March 13, 2018 11:14:20 PM CDT, Tom Morgan <notifications@github.com> wrote:

[2018-03-17 20:03] tom472 commented on #33
So the deluge container is way to involved to re-create for me to add in the labels plugin.
binhex has done some serious magic with that container for all the VPN and PIA stuff to work together.

I can see if we might be able to add it after the fact but I'm not sure what I'll be able to do but I'll try a few things.

[2018-03-26 00:46] tom472 commented on #33
Just tested Deluge with the label plug-in activated via the WebUI and sent 2 files via Sonarr. It worked without issue, the activation of Deluge as the download client in Sonarr with a label in the "category" field tested OK.

Then the files sent to Deluge used the label fine.
This seems to be working as expected.

[2018-03-26 01:04] #33 closed

[2018-03-26 17:50] dp917 commented on #30
Easiest thing is to edit volumes in Portainer. I was having same issue but was able to go into each container and change tv and movie folders to my storage pool of hdd's and so far seems to be working

[2018-03-28 01:13] tom472 commented on #30
@dp917 Thanks for jumping in and mentioning this.
You're totally right - the easiest way to handle it is to adjust it in Portainer.

@erfly7 Basically all you would need to do is go to Portainer - Stop any of the containers you need to adjust - then use the "Duplicate/Edit" button and make the adjustments you need.
Under the "Advanced container settings" you can easily change the mappings you need

[2018-03-28 01:13] #30 closed

[2018-03-30 05:41] nick-zanobini opened #34 "Unable to load deluge"
After installing and configuring everything the only thing I can't get to work is deluge. When I try and open it both from the home page and with the port specified it refuses to connect. Did I miss something?

This is awesome thank you.

[2018-03-30 14:25] tom472 commented on #34
The only thing I can think of could be this:
The Deluge container has a bunch of VPN firewall rules encoded in it.
You have to be on the same network subnet as the Deluge container to be able to access it's web interface.

When setting up other containers to "talk" to Deluge - did they work?
i.e. when testing the connection(s) from Sickrage or Couchpotato or Sonarr etc. - did the test connections

[2018-04-03 01:02] tom472 commented on #34
@nick-zanobini Any updates / Any luck?

[2018-04-03 02:15] nick-zanobini commented on #34
@tom472 Yes I installed it in my /opt folder which caused the VPN container to not start as well as it didn't finish copying the .conf file for PIA.

[2018-04-03 02:18] tom472 commented on #34
So is it working OK now?
Can we close this issue?

[2018-04-05 00:50] nick-zanobini commented on #34
@tom472 I can load deluge now but the logs continually give this message:

`2018-04-04 17:48:22,027 DEBG 'start-script' stdout output:
[warn] Response code 000 from curl != 2xx
[warn] Exit code 7 from curl != 0
[info] 1 retries left
[info] Retrying in 10 secs...`

[2018-04-05 02:32] tom472 commented on #34
@nick-zanobini
I have entries like that in my logs too.
They seem to go away if the deluge container is restarted, they also do not appear to affect the use of Deluge either.
They may be related to some of the tests that container does to verify that the VPN tunnel is up or if the external IP has changed.

Do those errors appear to be affecting your use of the Deluge container/the overall Mediabox

[2018-04-05 07:18] nick-zanobini commented on #34
@tom472 So it appears I am able to obtain an IP from PIA but I cant access the Deluge Web UI from my local network and when i try and test the connection between radarr and deluge it is unable to connect

[2018-04-05 15:58] tom472 commented on #34
When you click on the Deluge button on the Muximux landing page what happens?

Can you paste in your variables from the "Troubleshooting" section of the of the Mediabox page? (please strip your PIA creds and any other passwords)

Also Radarr ~I believe~ likes to use the "Label" feature by default when talking to Deluge - which is not "on" by default in Deluge - so if there is a box for "category"

[2018-04-05 22:33] nick-zanobini commented on #34
So when testing in Radarr this is the error I get with those settings: Unknown exception: Cannot access a disposed object. Object name: 'System.Net.Sockets.NetworkStream'.

Slightly stripped `.env` variables:
[code]

When clicking on deluge in Muximux I get the following: IP_ADDRESS took too long to respond

[2018-04-05 23:10] tom472 commented on #34
At this point I'm wondering if you have bad images of the containers.
Can you try this:

`$ docker rm -f delugevpn`
`$ docker rm -f radarr`
`$ docker rmi -f binhex/arch-delugevpn`
`$ docker rmi -f linuxserver/radarr:latest`
`$ cd /home/admin/mediabox`
`$ docker-compose up -d`

After the new images download and the containers spin up, try going to Deluge from the Muximux page and see if you are abl

[2018-04-06 02:07] tom472 commented on #34
@rudolph4404 thanks for that info...
Guess I'll try to throw 17.10 on my test VPS and see what happens.

@nick-zanobini are you running 17.10 or 16.04?

[2018-04-06 02:15] rudolph4404 commented on #34
18.04 will be released later this month. -ChuckOn Apr 5, 2018 9:07 PM, Tom Morgan <notifications@github.com> wrote:@rudolph4404 thanks for that info...
Guess I'll try to throw 17.10 on my test VPS and see what happens.
@nick-zanobini are you running 17.10 or 16.04?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-06 02:25] tom472 commented on #34
@rudolph4404 Great.. I like to target the LTS releases, looks like I'll be waiting until the end of April and start testing with 18.04

[2018-04-06 02:35] nick-zanobini commented on #34
@tom472  I am running Ubuntu Server 16.04 LTS. Deleting the container images solved the problem thank you!

[2018-04-09 09:46] jthegedus opened #35 "Define media volume on init"
as discussed here - https://github.com/tom472/mediabox/issues/30, most users will be using a different volume for their media than the host drive of the containers. It would be good if you could set a volume on init for all "finished" media to be moved to and then metadata services could run on that data. Or even more simply, advise everyone to "use drive pooling or raid first" and run this on the

[2018-04-12 21:20] tom472 commented on #35
Just dropping back in -
Work has been a little nuts - but I do hope to be working on this and the update feature this weekend.

[2018-04-13 20:18] llDunno opened #36 "502 bad gateway"
Just installed mediabox using the instructions provided. All the containers I can see in portainer but I can't go to my local ip. If I go to my local ip or http://docker it can't connect or says 502 bad gateway.

[2018-04-13 21:01] tom472 commented on #36
How did/do you see them in Portainer?
Did you go to Portainer's interface directly?
So the Muximux landing page doesn't load?

From the Portainer interface >> Container List
The "Published Ports" column links are "clickable" -- are you able to click on any of those links and get to the interfaces of the containers?

And to verify - once the set-up was complete if you go to:
http://your.server.ip.a

[2018-04-13 23:53] llDunno commented on #36
Muximux**

[2018-04-14 00:50] tom472 commented on #36
Try using Portainer to stop and then remove the Muximux container.
Then use Portainer to delete the muximux image.
Go back to the mediabox folder and run: docker-compose up -d
This should re-pull the muximux image and start it up again.
Maybe it was a bad image download.

[2018-04-14 05:47] llDunno commented on #36
I realize it's probably because I've got openvpn running on port 80.... I'll close this issue for now.

[2018-04-14 05:48] #36 closed

[2018-04-14 17:51] tom472 commented on #23
So sorry for how long this took.

The one time upgrade step is here below and now in the README - after these steps being run once anytime you want to update Mediabox just re-run the `./mediabox.sh` script.

**Upgrading mediabox:**

This is only necessary once - and only if you dowloaded Mediabox before it was added into the project.

1. Change directory into mediabox: `$ cd your/path/to/mediabox/

[2018-04-14 17:57] tom472 commented on #35
Just another heads-up,
The upgrade part has been pushed to master - the set your existing media location part should hopefully be pushed very soon.

[2018-04-16 12:28] jthegedus opened #38 "Tool for .sh scripting"
@tom472 Just a suggestion, but I've found https://github.com/koalaman/shellcheck extremely helpful for doing any `.sh` work. Highly recommend :+1:

_just thought I would share this if you didn't know about it._

[2018-04-16 12:29] #38 closed

[2018-04-16 13:07] tom472 commented on #38
Thanks - Yes - I've seen that and used it from time to time.

I am thinking of starting to add version numbers to Mediabox.
If I start to do that I am also going to start running the code through code checkers/cleaners.

The first goal was to get something that works - now that I have pretty much made it to that point, it's time to make it better.

Thanks again for the suggestion.

[2018-04-16 13:59] jthegedus commented on #38
This sounds great, thanks for your work! :slightly_smiling_face:

[2018-04-21 00:18] depasseg opened #39 "How to best to enable nzbget with vpn support"
Do you see an issue with changing out the nzbget section of docker-compose with this container and options, to take advantage of the vpn capability?  Or to put it another way, what's the best way to add vpn support to nzbget (like there is for deluge)?

https://github.com/jshridha/docker-nzbgetvpn

[2018-04-21 00:30] rudolph4404 commented on #39
I thought that the way the deluge docker was set up allowed for other things to be routed through the vpn.-ChuckOn Apr 20, 2018 7:18 PM, depasseg <notifications@github.com> wrote:Do you see an issue with changing out the nzbget section of docker-compose with this container and options, to take advantage of the vpn capability?  Or to put it another way, what's the best way to add vpn support to nzb

[2018-04-21 15:47] rudolph4404 commented on #39
https://github.com/dperson/openvpn-client/blob/master/README.md-ChuckOn Apr 21, 2018 10:20 AM, depasseg <notifications@github.com> wrote:I'm not seeing that.  curl ifconfig.co on the delugevpn console shows my vpn address.  the same on my nzbget console shows my local wan ip.

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-21 16:33] depasseg commented on #39
I like the idea of having an openvpn container and then having containers (like deluge and nzbget) use that as it's network, but I fear it's over my head to configure.

[2018-04-21 16:53] rudolph4404 commented on #39
If I remember correctly, delugevpn has openvpn in it. It should just be a matter of pointing the nzbget container to the delugevpn container for its networking. See the URL I sent earlier for details.Disclaimer: I have not tried this myself.-ChuckOn Apr 21, 2018 11:33 AM, depasseg <notifications@github.com> wrote:I like the idea of having an openvpn container and then having containers (like delug

[2018-04-21 20:44] depasseg commented on #39
I was able to modify the docker-compose.yml file to use the docker image that included the PIA VPN capability that I listed above.  I had one issue afterward (errors about certificate checking failed), which resolved once I changed the nzbget Settings -> Paths -> CertStore option to be /etc/ssl/certs/ca-certificates.crt

    # ----------------------------------------
    # NZBGet
    # -----------

[2018-04-21 23:15] tom472 commented on #39
@depasseg  I'm not really following you - probably because I don't use nzbget.

Is nzbget not able to use the deluge container as its download client?
If you use the Deluge container as your download client for any other applications, they all will have VPN protection.

Does nzbget have it's own internal download client/mechanism?
(Which then for sure would want its own VPN protection.)
As I said

[2018-04-21 23:26] depasseg commented on #39
nzbget is identical in functionality to deluge at a high level.  Both download stuff.  Deluge uses p2p and nzbget uses nntp.

nzbget doesn't use the deluge vpn since it's downloading directly.  hence using an image that includes vpn (just like deluge).

Alternatively, we could setup an openvpn container, and have deluge and nzbget (and whatever), use that as it's networking connection, but that wo

[2018-04-21 23:34] tom472 commented on #39
@depasseg Yeah so I just started checking it out - and now I see that it is "also a downloader".

So if you have had relative success already with the container you linked I should be able to make that change.

When you say you fixed the error you were seeing by adjusting:
`nzbget Settings -> Paths -> CertStore option to be /etc/ssl/certs/ca-certificates.crt`
Do you mean you changed that via the n

[2018-04-21 23:44] depasseg commented on #39
Hi - Yes, via the web interface.  I'm not sure where the setting came from, but it was ${AppDir}/cacert.pem

from what @rudolph4404 provided above, an openvpn container can provide vpn access to other containers pretty easily.  We just need to figure out the nginx piece.  I'd love to help out.

It seems like when I run the mediabox.sh script, it asks for all my saved settings again.  Anyway to hav

[2018-04-21 23:53] depasseg commented on #39
Oh and if you are looking at redoing the web frontend stuff, consider organizr.  looks like it is much more versatile as a web frontend than muximux.

[2018-04-22 00:02] tom472 commented on #39
The mediabox.sh script does save "some" settings but not all and here is the thing about the VPN UN and PW - I can have it re-use them but then it will always re-use i.e. If you change or want to change your PIA UN and PW then this will still hold the old.
I guess I could prompt something like "We have a PIA UN & PW .. re-use them or provide new creds... blah blah" something like that.

About a VP

[2018-04-22 00:39] tom472 commented on #39
Hey @depasseg Thank You for the Donation!
Very Much Appreciated!
Thanks for supporting Mediabox!

[2018-04-30 15:42] kspillane commented on #39
Hey all!

I have been pretty overloaded at work recently and haven't had time to be active here, not sure when it will let up. Anyway, thought I would chime in here. As a very heavy NZBGet user, let me ask, do you really need VPN support?

In a P2P environment (like bittorrent) you'll definitely want it since you are sharing files directly with others and they can get your IP. Plus, sketchy ISPs c

[2018-04-30 16:37] depasseg commented on #39
My preference is to encrypt the entire session (below the HTTPS level).  ISPs are data mining and there is no need to give them any info.  So, yes, even if an nntp provider offers https/TLS I'd still like to be able to vpn.  The NABget part is pretty simple.  I can create (or try to at least) a pull request.

I think the more difficult, but more important piece, would be the central container to h

[2018-04-30 16:54] kspillane commented on #39
Well, if I were doing a central VPN encryption. I'd set up an openvpn client container as a gateway and then configure the other containers to use it as their default gateway. That way all the traffic gets passed through the VPN. You wouldn't even need to use the specialized VPN-enabled services, you'd just pass all traffic through a VPN container gateway.

I used to run openvpn on an RPi and if I

[2018-04-30 21:54] kspillane commented on #39
@depasseg I am curious, do you currently use NZBGet with VPN? I have a PIA account but I almost never use it because I just use usenet for all my things. When I tested with PIA in the past my speeds were pretty awful ~5Mbps down, without VPN NZBGet easily saturates my DSL (~44Mbps) even with SSL enabled.

What info are you worried about them mining? With the SSL all they will see is you have a ses

[2018-04-30 22:27] jthegedus commented on #35
@tom472 I appreciate the updates :100:

[2018-05-01 13:30] tom472 commented on #39
@kspillane Thanks again for jumping in and providing additional info.
I love the "tin-foil hat" Mediabox idea and was actually thinking of the same thing, that idea might be something on the horizon as a fork.

I do the same as you - I'm only running the normal http interfaces for the containers because I only access them from home OR if remote I VPN in to home and access them.

[2018-05-01 13:42] depasseg commented on #39
When I tested it I got 300mbps d/l over vpn to PIA. and that was running TLS to the nntp server on top of the vpn.

implying that HTTPS negates the need for a vpn is a bit of a stretch.  DNS requests as well as the actual https server identity are easy to identify.  And it's easy to see it's going to and coming from that one host.  By using a vpn, this info is obfuscated and makes it hard to deter

[2018-05-01 14:30] depasseg commented on #39
It's all good.  :-)

My bad.  I'm sorry.  It wasn't in the readme.  I'm not sure where I got that idea, but it was the first reply to this issue.  Maybe that reinforced the idea.

[2018-05-07 13:18] element465 opened #42 "502 Bad Gateway"
Just installed, and every time I go to my IP where the server is, I get a 502 Bad Gateway.

Is there anything in Nginx that I need to do to get it working or is it a fairly turn-key solution?

Is there anything I need to do specially? Fairly new to this stuff, and always have issues like this with Ngnix.

I am getting this error for Muximux:
`[07-May-2018 23:56:26] ERROR: [pool www] please specify

[2018-05-07 14:53] tom472 commented on #42
Is Muximux the only container having issues?

i.e. Can you hit Portainer? via http://IP-Address:9000
And see if all the containers are up and running?

Are you running any other firewalls etc. on the server?
Is something else using port 80?

This is (should) be totally turn-key and shouldn't need anything adjusted to "work right out of the box".

[2018-05-07 23:09] element465 commented on #42
Yes, I can access Portainer and they are all online.

I have installed it on a fresh 16.04 Ubuntu Server install, could it perhaps be that I ran the

as a

[2018-05-07 23:51] tom472 commented on #42
No you should not run the mediabox.sh script as sudo.

It should be run as/under your user account.

[2018-05-08 00:09] element465 commented on #42
That's probably something to do with it then!

Um, I'm at work atm, but I believe it was setting permissions. I will check when I get home.

Should mediabox.sh be able to be run from the Ubuntu user that I create when installing Ubuntu Server? As that didn't seem to have enough permissions to run it properly.

Also, thanks for getting back to me so quick :)

[2018-05-08 00:36] tom472 commented on #42
Yes, whatever user you have created for normal use on the server can run the mediabox.sh script.

You may now need to delete the whole mediabox directory as the permissions for the sub-directories might be messed up now.

Everything should be being done as your regular user account.

The setting permissions part does take a few minutes because a couple containers need to be stopped, adjusted and t

[2018-05-09 03:07] jordanyeo opened #43 "Changed no-auth flag inside of portainer for portainer, can't connect now"
I originally installed portainer with the no-auth flag, but want to lock it down with authentication. I edited the portainer container in portainer to remove that flag, and now I'm getting connection refused. How can I either set that flag back, or make the auth work? I did a bunch of changes to my docker environment within portainer, so my docker compose file is out of date. Thanks!

[2018-05-09 03:34] tom472 commented on #43
Yeah you have to be careful changing Portainer "in" Portainer it kind of stomps on itself.

Here are two ways to fix this:

If you cloned Mediabox before auto-updating was added you should look a the "Upgrading Mediabox" section in the readme, follow those steps and update Mediabox.
If you cloned it after Auto-Update was added you can re-run `./mediabox.sh` to be re-asked the Portainer style you w

[2018-05-09 03:39] #23 closed

[2018-05-11 18:00] tom472 commented on #42
I'm going to guess that no news is good news and that this is resolved.
If that is not the case and there is still an issue with this, please re-open the issue.

[2018-05-11 18:00] #42 closed

[2018-05-11 18:00] tom472 commented on #43
I'm going to guess that no news is good news and that this is resolved.
If that is not the case and there is still an issue with this, please re-open the issue.

[2018-05-11 18:00] #43 closed

[2018-05-21 03:06] tom472 commented on #35
OK this request is finally live, sorry for such a long delay on it.
If you have the version of Mediabox that can auto-update itself you should be able to just re-run `./mediabox.sh` to pull the latest version that has this in it.

Let me know if there are any issues etc.

Thanks

[2018-05-21 06:28] jthegedus commented on #35
@tom472 Awesome! I'll give this a go! Any problems will be raised as new issues :100:

[2018-05-21 06:28] #35 closed

[2018-05-23 16:47] tom472 opened #44 "Known Issue with Ubuntu 18.04 - CIDR Address"
Currently starting testing on Ubuntu 18.04 LTS

It looks like the function that determines the CIDR address is having issues.
Haven't even started troubleshooting it yet - just putting this here right away so I remember to work on it.

@kspillane - Just mentioning you so that you see this post.

[2018-05-23 17:48] tom472 commented on #44
OK looks like the output from `ifconfig` is formatted differently in 18.04.
Now I at least know where to start to begin work on a fix.

Netmask and Broadcast have flipped positions in the output.
Plus the output is now using `space` as the delimiter instead of `:`.

**18.04 ifconfig**:
`inet 10.10.10.10 netmask 255.255.255.0  broadcast x.x.x.x`

**16.04 ifconfig**:
`inet addr:10.10.10.10  Bcast:x.

[2018-05-23 20:17] tom472 commented on #44
OK - Pretty much have this fixed.
A little more testing and it should be fixed by tonight.

[2018-05-24 01:57] tom472 commented on #44
Issue fixed via commit: https://github.com/tom472/mediabox/commit/bc704656e54808d7bf5d5c8425593d3f761faadf

Quick check for Ubuntu Version, then find subnet based on expected `ifconfig` output.

[2018-05-24 01:58] #44 closed

[2018-05-24 21:03] Fr33loader opened #45 "Docker restart always"
Hi guys,

Just a small question that has left me puzzled.

**Problem**

The default docker image setup does not really suit my needs, since I would prefer that if I did a reboot of my server, my docker containers would automatically reboot.

To that end, I added a "restart: always" in my docker-compose file.

Example:

[code]

Unfortunately, no luck. On force reboot, it exits the docker container

[2018-05-25 03:35] tom472 commented on #45
I don't see anything wrong with that setting in your compose file.
Unless it is different on ARM - the setting used in Mediabox:
`restart: unless-stopped` does restart containers after a server reboot.

It only doesn't restart any that were specifically stopped via the docker command-line.
I reboot my server all the time and all the containers I expect to spin back up start right up again after th

[2018-05-25 20:36] Fr33loader commented on #45
This hasn't worked since the beginning, but weirdly enough I did a full "sudo apt update && sudo apt full-upgrade" and the problem disappeared: it auto reboots on start now.

Apologies for wasting your time - this can be closed now.

[2018-05-26 17:27] tom472 commented on #45
No problem at all ... Glad it's working correctly now.
Thanks

[2018-05-26 17:27] #45 closed

[2018-06-10 20:59] tom472 commented on #39
closing this issue until the overall "tin-foil hat" version of Mediabox is created.

For the most part VPN is overkill for usenet - but I will look into creating a version of Medibox that uses the VPN throughout the entire project and then this will be covered.

[2018-06-10 20:59] #39 closed

[2018-06-10 21:04] tom472 commented on #21
As the Mediabox project has grown over time I am not sure if an ARM version makes sense anymore.  At the time of making this comment - Mediabox is running 16 containers by the time it fires up now, I'm not sure if this would be practical on any ARM device at this point.

Not saying the idea is totally dead - but definitely off the radar for now.

[2018-06-10 21:04] #21 closed

[2018-06-21 04:15] trevor-e opened #46 "Update docker-compose version"
Currently `docker-compose.yml` is set to `version: '2'` which I believe is fairly out of date. On my local setup I'm using an NFS volume for some images which requires features available in version 3.x+. Eg:

[code]

Everything appears to work fine after setting `version: 3.5` and would be nice to have upstream too. Thanks for the great project!

[2018-06-21 04:56] trevor-e opened #47 "Stop uhttpd in installation script"
I'm upgrading for the first time in a while, back from when you used `uhttpd` to serve the welcome page. The installation script doesn't account for that when stopping existing docker containers, and then fails to launch `Muximux` because port 80 is already in use.

This cascades into other problems such as infinitely waiting on:

[code]

because `Muximux` was not launched properly.

Running `dock

[2018-06-22 01:03] tom472 commented on #47
OK thanks for catching that, I can build in a fix for this.
Totally forgot that was in there way back.

Should be able to get this corrected pretty quickly.

[2018-06-22 01:06] tom472 commented on #46
I have been wanting to re-write the `docker-compose.yml`file to be version 3 ready.

I'll try and get this done quickly.

Thanks for using Mediabox and stopping by to let me know about issues.

[2018-06-22 06:01] michaelizer opened #48 "Logo proposal"
Greetings,

I'm a graphic designer and I would be more than happy to contribute to your project by creating a logo for it. It's completely free and both of us will beneficiate from it (I will expand my portfolio) let me know if you are interested.

Best regards.

[2018-06-22 15:33] tom472 commented on #48
@michaelizer Yes I would totally be interested.
If you have used the project you might be able to tell that I'm pretty good at making thing work but pretty bad at making things look good.

A logo and possibly a favicon would be welcomed - as long as the licensing etc. for the work is open.

Thanks for the offer - Let me know!

[2018-06-22 15:37] tom472 commented on #46
Compose version changed in the `docker-compose.yml` file has been changed to `3.5`.
Via: https://github.com/tom472/mediabox/commit/98a367ac01129e56c88ebba6f7e38ccd43d0fa3b
While the structure of the file has not been re-configured yet - all seems to works as expected.

Thanks @trevor-e for mentioning it and for the suggestion.
Hope this makes you NFS mount usage easier to use.

[2018-06-22 15:41] tom472 commented on #47
Change made to the `mediabox.sh` script to account for the old uhttpd container that used to provide the Welcome page.

Big thanks @trevor-e for the reminder that container used to be there.
And thanks for coming back to the project for an update after a while.

How is Mediabox doing now - Is it (hopefully) improving / getting better / more useful?

[2018-06-22 16:35] trevor-e commented on #47
Awesome work, that was fast, thanks!

Overall it's working great for my needs, though I'm really only using Plex/Deluge at the moment. Been meaning to play around with Sonarr/Radarr, so it's nice that they are already integrated with everything for when I'm ready. The Muxumux dashboard is a nice improvement over the old page. Everything is definitely trending up, thanks for all the updates.

The o

[2018-06-22 16:35] trevor-e commented on #46
Awesome, thanks. 👍

[2018-06-22 16:35] #46 closed

[2018-06-23 03:27] michaelizer commented on #48
I haven´t used it, yet, but it´s good to know hahaha. Said that, I'd like to ask some questions before starting, your answers will help me to deliver a better product.

   -  What's the name that should be displayed on the logo?, If there should be any.
   -  How would you describe this project and What is it intended to do?
   -  What would you like this logo to transmit?

I'll look forward to yo

[2018-06-23 14:03] tom472 commented on #47
As long as the media directories are addressable via a file path that will stay consistent, mediabox will now ask you where those paths are and then adjust the paths the the project accordingly.
Paths needed are:
TV
Movies
(music coming soon)

[2018-06-23 15:50] rudolph4404 commented on #47
How about paths for books & comics?-ChuckOn Jun 23, 2018 9:03 AM, Tom Morgan <notifications@github.com> wrote:As long as the media directories are addressable via a file path that will stay consistent, mediabox will now ask you where those paths are and then adjust the paths the the project accordingly.
Paths needed are:
TV
Movies
(music coming soon)

—You are receiving this because you are subscr

[2018-06-24 04:21] tom472 commented on #47
@rudolph4404 Now that the project has a state where I consider it fully working I will be adding in more apps.
I still have the ones you mentioned in the older issue on the list. New apps will be coming soon and then yes new paths will be requested too.

[2018-06-25 02:03] tom472 commented on #48
If there were to be a name - it would be: Mediabox

But I would say that in my mind if there were a logo it wouldn't necessarily have to have the name displayed.

Mediabox is an all Docker based media stack - it provides a full Docker environment to get an manage media files from a home media server.

The logo should transmit a feeling that this is a fun project and that it's pretty simple to use

[2018-07-02 15:46] michaelizer commented on #48
@tom472  what do you think of these sketches?
![imagen](https://user-images.githubusercontent.com/35619342/42173562-7b57203a-7ded-11e8-9505-4bebaeafbc57.png)

[2018-07-02 17:28] tom472 commented on #48
Thanks - for the sketches --

The one on the right is on the right track.
Some of the things Mediabox does for you is TV, Movies and Music (coming in next commit).

Could you try the one on the right with:
* The movie icon already on it (Green is good for that)
* The music note icon from the one in the middle (Maybe Yellow for that)
* An icon that represents a TV (Maybe Blue for that)

Also could

[2018-07-03 19:10] michaelizer commented on #48
Like this?
![1recurso_5](https://user-images.githubusercontent.com/35619342/42239847-317811b8-7ed3-11e8-9b23-0ce58495f6fb.png)

[2018-07-05 13:03] tom472 commented on #48
Yes - that's what I was describing.
The TV logo looks a little un-level, the left side looks closer to the bottom of the "box" than the right side does.

Looking very cool - can you play with the colors a bit.
These ones are a little to "soft" for me can it be tried with more "harder / bolder" kind of primary colors?
Keep Blue for the TV
Can we try Red for the Moive
And Green for the Music

Also -

[2018-07-05 15:32] michaelizer commented on #48
Please do not worry about anything, I love doing this.
I will make several variations for you to tell me which one you prefer
And yes, I will do the monochromatic versions of the logo once it's done :)

[2018-07-06 03:36] michaelizer commented on #48
I want your opinion on these

![imagen](https://user-images.githubusercontent.com/35619342/42358761-468a7ae8-80ac-11e8-85ef-a1804f5577e0.png)

[2018-07-08 08:24] WoosterInitiative opened #49 "Way to not install/uninstall/disable programs not being used"
I use Sonarr/Radarr, would like to be able to free up resources by not having Sickbeard and CouchPotato installed. Also, minio, etc.

[2018-07-09 00:16] tom472 commented on #49
What resources are you looking to free up?

All you need to do is go into Portainer and stop any of the containers that you do not want/use and they will stop. And as long as they are "stopped" properly even with reboots etc. they will remain in a stopped state.

After that the only "resource" being used up those containers would be like 500MB of storage space.

Do you need something more than tha

[2018-07-09 00:18] tom472 commented on #48
The one in the middle is the one I like the best of this set.
Those colors are much more bold and what I was thinking of.

[2018-07-09 00:18] #47 closed

[2018-07-09 02:20] michaelizer commented on #48
Anything else you want to modify? (You can give me the code of the color if you want one in specific)

[2018-07-10 22:14] cthog opened #51 "First install"
I try logging into my host ip, as instructed, and I get "nginx 502 bad gateway", so I can't complete setup.  Any idea what this is?

Edit: ended up reinstalling Ubuntu Server, but my theory is that I had installed from root account.

[2018-07-11 01:34] cthog opened #52 "Lidarr?"
Just to keep in line with Sonarr and Radarr, and to be consistent with the dual options, have you considered adding Lidarr?

[2018-07-11 02:21] tom472 commented on #51
Correct - there is no part of "Mediabox itself" that should be done as root.

Only the set-up steps for the installation of the prerequisites etc.

The rest of the Mediabox setup actually depends on knowing who you (the current user) are and sets variables based on that.

So are you working OK now?

[2018-07-11 02:23] tom472 commented on #48
Sorry for the delay - been a little busy.
I want to show it in this state to some others and get more input and thoughts on it than just mine.

Thanks again - I'll be back soon to let you know.

[2018-07-11 02:29] tom472 commented on #52
Hadn't thought of it - doesn't have nearly the amount of pulls has headphones does.

However - probably wouldn't be too difficult to add in.

If anyone else see this and is interested in Lidarr either thumbs up one of these comments or comment here and let me know.

I have a couple containers ahead of this that are on the want list, I hope to get them in this weekend.

[2018-07-11 02:34] tom472 commented on #49
@WoosterInitiative Was this suggestion helpful enough for you?
Do you have additional questions?

[2018-07-11 03:09] WoosterInitiative commented on #49
It is helpful... As a learning experience I'm going to play with a fork,
but I think I've got what I need! Thanks!

On Tue, Jul 10, 2018, 7:34 PM Tom Morgan <notifications@github.com> wrote:

[2018-07-11 10:49] cthog commented on #51
Yes, thank you.  Although I have a separate issue that I'll start a new thread on.

[2018-07-11 10:54] cthog opened #53 "Sonarr and Deluge import issue"
For some reason, my sonarr can't see the file downloaded by deluge for import.  Typically, I've solved this issue by adding a remote path map to the appropriate directory.  Deluge is downloading to /data/incomplete and then moving to /data/completed.  Sonarr doesn't see that directory--presumably it wants to pull from /downloads.  I tried mapping the two, but that doesn't seem to work.

Before jum

[2018-07-11 12:54] tom472 commented on #49
OK sounds good.

[2018-07-11 12:54] #49 closed

[2018-07-11 14:04] tom472 commented on #51
OK - Sounds good I'll check the other thread.

[2018-07-11 14:04] #51 closed

[2018-07-11 14:33] tom472 commented on #53
Thanks for the compliment!

So `/downloads` in the Sonarr container **is** Deluge's `/data/completed`

So you should only need to point Sonarr at (its) `/downloads` as the completed files location.

Here are the relevant parts from the Docker Compose File:

For Deluge:
Deluge maps its internal `/data` to Mediabox's `/content`
And uses `/data/incomplete` and `/data/completed` as the in-progress and

[2018-07-11 15:24] cthog commented on #53
Thank you, I got that, and that is indeed what each container has mapped.  However, I've got a downloaded torrent sitting in /data/completed (so /content/completed and /downloads, respectively), but Sonarr is telling me that it can't find any video files to import.  I actually had pretty much the same setup before utilizing your excellent tool (until I saw mediabox, I had put off a new install, an

[2018-07-11 15:54] tom472 commented on #53
I'll have to give it a test again -
I don't use Sonarr so I'll have to turn it back on and run a test.

[2018-07-11 19:07] cthog commented on #53
I appreciate you taking a look.  I'll fiddle with it some more tonight, if need be.

[2018-07-11 21:36] cthog commented on #53
Fixed it.  I found this post instructive: https://www.reddit.com/r/sonarr/comments/87jimv/sonarr_deluge_docker_setup_not_downloading/?st=jjhmz3tk&sh=3de6a8f7

Apparently someone already had this issue.  I went into Portainer and changed the local folder from /downloads to /data/completed and it instantly imported my pending files.

I'm pretty sure this will be required for Radarr, but will test nz

[2018-07-11 22:18] cthog commented on #53
Had to change nzbget volume mount as follows:

/home/admin/mediabox/content/completed | /data/completed

nzbget/deluge working with Sonarr.  Have similar settings with Radarr, testing now.

[2018-07-12 00:45] tom472 commented on #53
Awesome - thanks for working on figuring it out, and coming back to post it.

So to verify what fixed it for you ...

In Portainer - you switched **container** volume: `/downloads` to `/data/completed`
For the section that paired with **host** volume: `/home/tom/mediabox/content/completed`

Is that correct?

And the nbzget volume mount change - was that for the nbzget conatiner, or the nbzget sett

[2018-07-12 01:52] tom472 commented on #53
Just did some testing and you nailed it @cthog thanks so much for pointing it out.

Also do you have any issues with the (Sonarr) torrents removing themselves from Deluge when complete? On the Download Client tab under the section "Completed Download Handling" can you let me know what settings you have for the two toggle options: Enable & Remove

Also - do you want to create a PR for the volume ma

[2018-07-12 16:09] WoosterInitiative commented on #53
I'm speaking a bit out of turn and a little above my head, but I wonder if the issue is caused by the fact that Sonarr/Radarr look to Deluge to tell them where the files are? Because the paths are different, I would assume that they look where Deluge tells them, but that's not where that container is looking.

Mostly so that I can understand the "why", does this jibe with what you guys are underst

[2018-07-12 16:39] tom472 commented on #53
@WoosterInitiative Yes - that is pretty much the case.
Even tho Mediabox is mapping `/data/completed` to `/downloads` in Sonarr
Sonarr is asking Deluge's API - Where is the file?
Deluge is saying `/data/completed` << In reference to **Deluge's** container.
But **Sonarr** says Oh OK - I'll look in `/data/completed` << In **my** container - and that is not where the mapping is.

This can be fixed wi

[2018-07-13 02:30] tom472 commented on #53
OK this should be fixed now for Sonarr and Radarr -

I'll leave this thread open for a bit longer in case there is any more feedback.

To get the new fixed version just go into your Mediabox directory and re-run the `./mediabox.sh` script.

Thanks
--Tom

[2018-07-13 14:01] tom472 commented on #53
@cthog Thanks for the comments - and for finding this issue.

No worries on going AWOL - I know how that goes.

Things look pretty good for now - and I do have some ideas on cleaning up the folder structure a bit overall.

Thanks again.

I'll probably close this tonight.

[2018-07-15 14:17] #53 closed

[2018-07-17 03:20] ageisen2000 commented on #52
+1 for Lidarr

[2018-07-17 03:34] tom472 commented on #52
@ageisen2000  Gotcha -- Thanks

[2018-07-18 02:23] ageisen2000 opened #54 "Deluge setup"
Right now I have an external hard drive that I'd like to download / seed from. Is there an option to specify download directory with deluge?

Doesn't having Deluge automatically move files also mess with sonarr/radarr hard links? I was under the impression that everything had to stay in the same folder and the sonarr /downloads folder was supposed to point to where the torrent was downloaded to.

[2018-07-18 03:08] tom472 commented on #54
I will be adding the option to designate your download location, should be added in pretty soon. I might be out of town this weekend but I'm going to try and get it added in quickly.

The second part of your post is kind of up to your overall configuration.
I have always had my download manager move my completed files after the seed ratio has been met, that way Deluge is doing the same thing every

[2018-07-18 03:10] tom472 commented on #48
@michaelizer Apologizes for the continued delay.
Just trying to get some time to show some others.

I've just been a little swamped lately.

Thanks

[2018-07-22 03:16] Switcher05 commented on #54
Would there be any way to support a networked folder? I have my external drive mapped through linux just fine however I have been struggling with getting it passed to the plex docker container. I am not sure if it is either a permission or setup issue.

[2018-07-22 21:43] tom472 commented on #54
OK - asking for your download location has been added in and should be good to go.

To update just re-run the `./mediabox.sh` script.

I'll leave this thread open for a bit longer.

Thanks

[2018-07-22 22:32] ageisen2000 opened #55 "Organizr"
I've heard that Organizr is an improved version of Muximux, would there be any chance of using that in the future?

[2018-07-23 00:46] tom472 commented on #55
So I've looked at / tried Organizer before and yes while it is an improved frontend it unfortunately stores all of its settings in a `.db` file.

That therefore makes it super hard for Mediabox to "configure" it for the user "on the fly". Using it would end up needing the user to configure/reconfigure it.

[2018-07-23 01:12] ageisen2000 commented on #55
That's unfortunate :(

[2018-07-23 01:14] tom472 commented on #55
Yeah I was kinda bummed to find that out during testing it.

[2018-07-23 20:06] #54 closed

[2018-08-19 10:14] element465 opened #57 "ERROR: write /var/lib/docker/tmp/GetImageBlob684890137: no space left on device"
Trying to install the script again for a fresh install on Ubuntu Server 18.04, and when it gets to the pulling of the dockers, it downloads and then I get this error:

`ERROR: write /var/lib/docker/tmp/GetImageBlob684890137: no space left on device`

Please see image: http://prntscr.com/kkdpe6

The user has been added to the docker group, and the instructions have been followed.

Is there somethin

[2018-08-19 22:27] tom472 commented on #57
What is the size of the disk you are installing on?

Also - let's try a docker cleanup:
Can you run `docker system prune` and select "y" for the answer?

Then try it again.

[2018-08-19 23:10] element465 commented on #57
Tried the docker clean up - it cleaned up 0 bytes.

Dish is 320gb, and a fd -h shows: http://prntscr.com/kkkhn7

Could it perhaps be a permissions error? I have followed the instructions to the letter, and it was on a fresh install.

I'll try a fresh install tonight again of Linux, does it work better on 16.04 or 18.04? I was using a fresh 18.04 fresh.

[2018-08-19 23:52] tom472 commented on #57
It should be fine on both 16.04 and 18.04.

Do any containers work?

Can you try running this:
`docker run -d -p 80:80 ksdn117/test-page`

This should download a small nginx container and serve up a "Container is Running" (image) page at: `http://127.0.0.1`

[2018-08-20 00:15] element465 commented on #57
[code]

I am installing the script to my home/user folder and set the media in the options to an exeternal mounted drive (which it can read and write to as it has created the 'download' folder to).

[2018-08-20 00:48] tom472 commented on #57
Something seems not right with your Docker set-up.
That is a dead simple nginx container that just shows a single image page when complete.

If that is not working, and throwing the same error, there seems to be an issue with the Docker install itself.

What is the output of: `docker version`

[2018-08-20 08:36] element465 commented on #57
Seems to be a once off glitch - I reinstalled everything from scratch, and did the exact same thing (followed the instructions perfectly) and it worked without a hitch.

The only thing I did different was install the OS without LVM this time.

Thanks Tom for trying to help, it seems to just be a once off issue and a complete reinstall fixed it. :-)

[2018-08-20 12:57] tom472 commented on #57
@element465 That's awesome! Glad to hear it was just a one-time thing.

Stop on back with any other issues/questions ..

And Enjoy Mediabox!

[2018-08-20 13:03] element465 opened #58 "Radarr and Sonarr - Folder is not writable by user abc"
Trying to choose the select path folder as can be seen in below screenshot, but when I go to add the /movies or /tv, I get the error `Folder is not writable by user abc`. This happens in both Radarr and Sonarr for each of their folders.

http://prntscr.com/kksim7

/data/competed does not have this error (but it should be going there).

Any suggestions? Have I done something incorrect? Not sure how

[2018-08-20 13:58] element465 commented on #58
Seems to be because the folders were created by the script but as user root?

[2018-08-20 14:57] #57 closed

[2018-08-20 15:31] tom472 commented on #58
You didn't run the script with `sudo` did you?
(Just FYI it should not be run with sudo)
The script should be run as you so that all folders etc. get created by/as you.

You are using you're own locations for the content folders right?

[2018-08-21 10:05] element465 commented on #58
Maybe I did by accident? Not sure.

A complete reset fixed it, not sure why it happened.

[2018-08-21 10:08] element465 opened #59 "Muxumux - Error 500"
Another error, this one doesn't look like to be related to me!

Muximux was working fine, then all of a sudden I get an error 500: http://prntscr.com/kl5lns

It has been working fine for the last 24 hours, and then without touching anything, it just plays up like this.

It seems it may be an issue with Muximux as other people seem to get the issue randomly. I've also had it do it on another docker

[2018-08-21 13:05] #58 closed

[2018-08-21 13:14] tom472 commented on #59
Hmm - I've never once had that happen - been running this set-up for about half a year now since Muximux was added in.

Can you use Portainer to check the logs for Muximux and see if there is anything logged?

Also can you make sure you have cleared any cache from your browser for your Mediabox site.

Or possibly test/try an incognito session when the issue is happening so that it can be tested wh

[2018-08-22 13:36] ageisen2000 commented on #59
I've also had this error occur. It ended up being an issue with the container itself I think. After completely removing the container and re-downloading it the issue was fixed. I don't think it's an issue of mediabox

[2018-08-22 14:25] tom472 commented on #59
@ageisen2000 Thanks for the info - Guess it's just that I haven't seen it.

I would suppose that maybe when Mediabox is starting up for the first time and grabbing so many containers it's possible one might get a little funky.

@element465 Can you use Portainer to stop the Muximux container, delete its image and then go back to your Mediabox directory and run `docker-compose up -d` this will re-pu

[2018-08-27 21:05] tom472 commented on #59
Guess we'll call this Closed in that it appears to be a transient issue with Muximux sometimes.

[2018-08-27 21:05] #59 closed

[2018-09-03 02:18] erfly7 opened #60 "Multiple drives Issue"
Took a  look at this while ago and looked like good choice but no VPN, now has PIA VPN so that is perfect, question does the VPN cover all the apps deluge, nzbget?

and the second issue which could never figure out if mediabox and ubuntu are installed on a smallish SSD but all my files are on 4 bigger HDD how to you set them up?

[2018-09-03 19:14] tom472 commented on #60
The VPN covers deluge, there really isn't a need for it anywhere else. Use SSL with Usenet if you go that route.

For the second question yes you can point to directories that are not on the same disk as Mediabox.
During the setup script you are asked for the paths to your TV, movies, music, etc folders.
Then those locations are used during the setup.

[2018-09-06 01:01] tom472 commented on #60
@erfly7 Did this help answer your questions?

I'm on vacation this week so my access to check-in on things is spotty.
Just wondering if you have tested this again yet?

Thanks
--Tom

[2018-09-06 03:26] jthegedus opened #61 "nzbget mounted volume issue"
This may be user error...

I ran the setup script with this output:

<details>
<summary>img: setup output</summary>

![mediabox--setup-script](https://user-images.githubusercontent.com/20798510/45133230-75f6e580-b1d7-11e8-823f-bfba983ee13c.png)
</details>
</br>

As you can see, my specified volume does not match that used by the NZBGet container:

setup:
`media/zd/data/downloads`
container:
`media

[2018-09-06 17:03] tom472 commented on #61
OK I'll have to look at this when I get a minute. I'm on vacation right now and don't have the ability to do much testing.

Thanks for the report I'll see what I can find out.

[2018-09-07 02:19] jthegedus commented on #61
Cheers, I fixed the issue with Portainer, so only affects people relying on the automated setup.

`ifconfig` relies on `net-tools` which is not listed as a pre-req. `sudo apt install net-tools -y` solves that.

I'm using Ubuntu 18.04 LTS

It seems that Sonaar and Radaar also require a `downloads/` binding to the DOWNLOADS directory.

If I find the time over the next week to contribute and test the

[2018-09-07 03:40] tom472 commented on #61
Yes I love to see what you did in Portainer to fix it so I can fix it in the script.

And I knew ifconfig was going away in favor of ip .. so I'll have to work on getting the script to work with that command instead.
Or I'll have to add net- tools to the pre-reqs, but I'd like to try and fix it with out needing the additional package.

Thanks

[2018-09-09 15:04] #60 closed

[2018-09-17 00:49] tom472 commented on #52
OK all sorry this took so long to get added.

As of the latest PR commit to master: https://github.com/tom472/mediabox/pull/62

Lidarr has been added to Mediabox

[2018-09-17 00:54] tom472 commented on #61
@jthegedus Any chance you can stop back and post the change you made in Portainer?

So that I can add it in to be fixed

Thanks
--Tom

[2018-09-17 01:30] jthegedus commented on #61
Yep, no problem! Sorry, will do so now :+1:

[2018-09-17 11:09] jthegedus commented on #61
@tom472 Here are the changes:

nzbget:
To fix the aforementioned nzbget nesting issues, **replace** the volumes with this
[code]

radarr & sonarr:
Add this in **addition** to the existing volumes
[code]

[2018-09-17 12:47] tom472 commented on #61
@jthegedus Excellent - thanks for the info.

I'll take a look a this and hopefully get it added in tonight.

Thanks
--Tom

[2018-09-17 12:58] jthegedus commented on #61
No problemo. Sorry it wasn't a pr, I didn't have the time to sufficiently
prepare and test one this evening. Thanks for all your work!

On 17 Sep. 2018 10:47 pm, "Tom Morgan" <notifications@github.com> wrote:

@jthegedus <https://github.com/jthegedus> Excellent - thanks for the info.

I'll take a look a this and hopefully get it added in tonight.

Thanks
--Tom

—
You are receiving this because you

[2018-09-17 13:04] tom472 commented on #61
@jthegedus No worries about it not being a PR - its pretty minor changes.
Thanks again for letting me know about the issue and providing a fix for it.

Much appreciated!

[2018-09-19 01:45] tom472 commented on #61
This didn't work - after updating my local instance, docker-compose up threw some errors.
Gonna have to roll it back and test some more.

[2018-09-19 03:28] tom472 commented on #61
Still having some issues here.
Probably b/c I don't use NZBGet so I don't "really" get to see how the layout looks.
But I think I'm pretty close.

Hang in ...

[2018-09-19 03:35] tom472 opened #63 "Portainer not loading in Muximux"
There was an update to Portainer and it looks like it is no longer able to load in a frame.
So this is making it not load in Muximux.
Current workaround is to open Portainer at its full URL: http://yourmediaboxip:9000

I have noticed this as a trend and will probably need to look at other options to replace Muximux.

Organizr has been mentioned and tested before but it has not way to be "automatic

[2018-09-19 03:41] jthegedus commented on #61
Here's some more info

my working nzbget volumes:

![nzbget-volumes](https://user-images.githubusercontent.com/20798510/45729717-1950ed00-bc11-11e8-9d49-e964f55c703c.png)

my dirs defined during setup:

![mediabox-dirs](https://user-images.githubusercontent.com/20798510/45729719-19e98380-bc11-11e8-8008-6f12235b0a95.png)

Maybe it depends on the version of the nzbget container from dockerhub?

[2018-09-19 03:48] tom472 commented on #61
Excellent thanks for the additional info that will help.
I'll try and get back to this tomorrow.

[2018-09-20 02:49] rudolph4404 commented on #63
There is a command line interface to the sqlite database. The command is sqlite3. You give it the pathname to the database file and a SQL statement. SELECT to query records. INSERT to create a new record. UPDATE to change records. DELETE to remove records. You just need to know the structure of the Organizr database.-ChuckOn Sep 18, 2018 10:35 PM, Tom Morgan <notifications@github.com> wrote:There

[2018-09-24 03:41] doughecka opened #64 "snap docker"
If Docker is chosen during Ubuntu install (at least on 18.04), it installs 'snap docker', which does not show up under normal apt-get commands when removing. Recommend making this change on the instructions:
Uninstall old versions:
$ sudo apt remove docker docker-engine docker.io
$ sudo snap remove docker
It’s OK if apt or snap reports that none of these packages are installed.

[2018-09-24 15:36] tom472 commented on #64
Thanks that's good to know.
I'll add that to the README directions.

[2018-10-01 13:35] tom472 commented on #63
Over on the Portainer project it looks like they are going to remove the headers config that is causing this issue. They then might be adding an option to enable/disable this setting later on.
(See https://github.com/portainer/portainer/issues/2279#issuecomment-425696691)

I'll leave this issue open here until I see the removal has been pushed to the main Portainer branch and is working again in M

[2018-10-01 13:50] tom472 commented on #64
Sorry this took so long for just a minor change to the README I have been a little busy.

@doughecka thanks again for pointing this out and it has now been added to the README.
(via commit: https://github.com/tom472/mediabox/commit/fe47bd8ba675d43b46341d74714fdcd1c4df4493)

[2018-10-03 03:17] tom472 commented on #61
Just jumping back in to say I hope to get to this soon.
Sorry for the delay - been a little busy lately.

[2018-10-11 21:31] Curtman opened #65 "Sonarr becomes unresponsive"
I'm not sure where this problem is coming from, but it seems like everything else in the stack works great.  I'm using Plex, jackett, sonarr, ombi, radarr, tautulli, portainer, delugevpn, and watchtower. Most of the time sonarr works great too, but every once in a while it becomes very unresponsive.  The web interface wont respond, when it does eventually it says all indexers have failed, and comm

[2018-10-12 03:37] tom472 commented on #65
There seems to be a lot of reference to NzbGet in those logs - but you mention using Delugevpn in your post.

Is Deluge the only download client you have active in Sonarr?

I have a Sonarr instance running (only 3 days currently) but searching its log via Portainer only shows 1 single reference to `nzb*` and that was just a reference to `nzbdrone.exe` right when the container started.

In comparis

[2018-10-12 22:02] Curtman commented on #65
I'm using NZBGet as well..  I use delugevpn and nzbget in both sonarr and radarr.  With the exact same Indexers,  torrents via jacket and two usenet indexers.  Ive never seen radarr complain about anything including NZBGet, even once.

I'm going to try starting over with the script and re-importing everything to sonarr db.

[2018-10-12 23:14] tom472 commented on #65
OK keep me posted on how it goes.

[2018-10-16 19:39] #64 closed

[2018-10-17 23:04] Curtman commented on #65
So I wiped my server, installed Ubuntu 18.04 (server), and then docker etc..  I started with Sonarr and 'Import existing Series on Disk'..  At some point it went haywire again.  I've installed it native on Ubuntu and it's working fine.  I'll see if I can find some reason, or something in my media that is making it choke but it seems odd that it works outside of docker.

[2018-11-01 16:46] tom472 commented on #65
Hey @Curtman I might have stumbled on something that could help with your issue - you mention Sonarr - the title of this fix mentions Radarr but says other mono apps too.
Are you storing your media on the same disk or are you possibly using an SMB share?

(via: https://redd.it/9tagso)

[2018-11-07 19:03] #65 closed

[2018-12-29 16:10] tom472 commented on #63
The fix has been made upstream in Portainer.
Portainer now loads again via the Muximux interface.

[2018-12-29 16:10] #63 closed

[2018-12-31 00:57] enoch85 commented on #34
I have the same issue on Ubuntu 18.04.1. A clean install for the sole purpose of installing Mediabox, following the exact instructions and also tried `rmi` like described here.

Still same error: timeout.

Do I need to open any ports in my firewall? I tried opening port 1198 (PIA) and did a allow * for the LAN IP but it didn't help.

Please advice!

[2018-12-31 15:45] tom472 commented on #34
OK this has been closed for a bit so let me check some details:

When you say:

This is when trying to load Deluge from the Muximux interface?
And you are trying to access it from a PC that is on the same LAN as the Mediabox PC correct?

Are you able to hit the Deluge via it's direct address? `http://mediaboxip:8112`

Does Portainer say the container is up?

Anything in the logs for the Deluge con

[2018-12-31 15:50] enoch85 commented on #34
@tom472 Sorry, it turned out to be that I needed to add my laptops IP in the config. You can close this.

[2018-12-31 15:52] tom472 commented on #34
Just curious .. You added it to which "config".

[2018-12-31 15:59] enoch85 commented on #34
Here you go: https://github.com/binhex/arch-rtorrentvpn/issues/84#issuecomment-450655052

I ended up using that instead. Sorry for taking your time.

[2018-12-31 16:11] tom472 commented on #34
@enoch85 Gotcha - so you added in a second CIDR to the Deluge config so that more than one local LAN segment has access to Deluge based on the IPTables rules.

Glad you got it worked out.

[2018-12-31 18:34] #34 closed

[2019-01-03 04:46] nfields03 opened #66 "Muximux not loading on new build"
I started up a fresh install from scratch of mediabox on my home server and everything seems to be coming up okay except muximux.  When I look in the Portainer logs for that container, I'm seeing the following error repeated over and over.  Maybe a slight adjustment in the config for it is required?  If it's a muximux build issue, i'm happy to close it out and take it up with them...

Thoughts?

[

[2019-01-03 19:56] tom472 commented on #66
What user is running your containers?

What are the:
`PUID`
and
`PGID`
values in your `/mediabox/.env` file?

[2019-01-03 23:58] nfields03 commented on #66
It's brand new as of a few days ago, and I checked the file just now.  Both values are 0 in the .env file.

[2019-01-04 00:02] nfields03 commented on #66
Any particular concerns if I change it from 0/root to something else?

[2019-01-04 00:08] nfields03 commented on #66
Nevermind, I tried resetting the values in the .env file and then re-ran the mediabox.sh file, but the script overwrote my changes and put it back to 0/root.

[2019-01-04 03:02] tom472 commented on #66
You should not be running the script as root or with `sudo` .. you should be running it from a regular user account.

[2019-01-04 14:59] nfields03 commented on #66
Ahh, good to get clarified, thank you and testing it today.

[2019-01-04 16:30] nfields03 commented on #66
Looks like it worked, I will stand corrected and be sure to follow the readme to the **exact letter** in the future.  Thanks!

[2019-01-04 16:42] tom472 commented on #66
@nfields03 No problem - And you are not the first person to do that.

After `sudo` is used to do the installs, pre-reqs - the rest of the set-up is done using your regular account.

[2019-01-04 17:42] #66 closed

[2019-02-24 19:23] tom472 opened #68 "Minio creating zombie processes"
I am seeing an issue with the Minio container creating many zombie processes.

I am looking into it via the official Minio repository.

For now as a workaround if you are seeing high counts of zombie processes is to just stop the container, wait a few minutes, and restart it. This can be done via the Portainer interface.

[2019-03-01 04:17] rudolph4404 opened #70 "Failure connecting to Jacket indexers"
Is this problem being tracked?
https://github.com/Sonarr/Sonarr/issues/2802
I appear to be having this problem.

[2019-03-01 14:25] tom472 commented on #70
Thanks for letting me know and referencing the linked issue.
I'll keep my eye on it and see what the solution(s) is/are.

[2019-03-08 07:16] stannynuytkens commented on #70
Having the same issue:

Version 2.0.0.5301
Mono Version 5.8.0.108
Jackett Version 0.10.890.0

Jackett works fine on it's own and together with CP.

[2019-03-09 22:59] tbarrettjr93 opened #71 "fresh install on fresh install of ubuntu"
hi! i have recently freshly installed ubuntu 18.04 and tried to setup mediabox to run. i ran ./mediabox.sh and followed all the steps flawlessly. I get to the part where it says

 "Configuring DelugeVPN, NZBGet, Muximux, and Permissions
This may take a few minutes..."

and it just sits here for ever. I've waited over an hour for this to get through and i dont know if its supposed to take this long

[2019-03-10 00:13] tbarrettjr93 commented on #71
rebooted one more time and ran it again and now its all good!! this is awesome! thank you!

[2019-03-10 00:13] #71 closed

[2019-03-11 13:51] tom472 commented on #71
@tbarrettjr93 Thanks for letting me know you had a long delay at that section.

I will re-verify the command(s) at that point and make sure it is still correct.

Glad it worked for you after a reboot - and thanks for playing with Mediabox.

[2019-03-11 14:13] tom472 commented on #68
I cannot find an actual closed issue or a specific commit that might have addressed this, however it does appear that the latest Minio image that Ouroborous has pulled and stared is not having this issue.

I am going to watch it for a bit more before I close this issue.

[2019-03-17 12:14] #68 closed

[2019-05-01 02:07] Dodgexander opened #72 "error on install. several containers not loading"
Hey thanks for making this project, its brilliant!

First of all received this problem: https://github.com/tom472/mediabox/issues/71 where the script just gets stuck indefinitely.

Rebooted, didn't help.

Tested again after another reboot, this time filing in all options rather than leaving some blank and it worked. I think the problem is caused if you do not enter an option for some of the questi

[2019-05-01 03:22] Dodgexander commented on #72
Here's the Plex and jellyfin logs:
http://paste.ubuntu.com/p/53VCYM3vfN/
http://paste.ubuntu.com/p/cWwXsCBxBb/

And repeated now:
Starting Plex Media Server.
terminate called after throwing an instance of 'std::runtime_error'
  what():  Codecs: Initialize: 'boost::filesystem::create_directories: Permission denied: "/config/Library/Application Support/Plex Media Server/Codecs"'
****** PLEX MEDIA SE

[2019-05-01 03:32] tom472 commented on #72
@Dodgexander Sorry you're having issues.
Do you recall which questions you might have left blank? I'd like to look into that.

I'm looking at the healthcheck error right now - looks like Minio might have adjusted their image a bit.

For the rest of the issues - It might be worth starting everything over from scratch.

Are you running any other containers on your box besides the Mediabox containers

[2019-05-01 04:00] tom472 commented on #72
OK I found there was a change to the Minio healthcheck and the `sed` line I was applying is no longer needed, so that error is now fixed and committed.

Let me know if you want to try starting from scratch -- and we'll see if we can get you going.

[2019-05-01 14:05] Dodgexander commented on #72
@tom472 wow what a fast reply. Thanks for getting back to me so quickly.

I have done as you said, started from fresh.

- Removed all docker containers & images.
- Removed docker CE
- Removed mediabox directory.
- Started from scratch with a new install of docker CE and described in your instructions.
- Started from scratch, cloning the mediabox git.
- I ran the script as my user, not sudo.

Here'

[2019-05-01 14:29] Dodgexander commented on #72
I cleaned up mediabox and tried again and the script failed and stopped at the end:

tim@basement:~$ cd mediabox
tim@basement:~/mediabox$ ./mediabox.sh
What is your PIA Username?: tim
What is your PIA Password? (Will not be echoed):

Which PLEX release do you want to run? By default 'public' will be used. (latest, public, plexpass): public
If you have PLEXPASS what is your Claim Token from https:/

[2019-05-01 14:52] Dodgexander commented on #72
Okay further investigation:

I chown -R /mnt/data to my $USER & $GROUP
I chmod -R /mnt/data to 755 to test.

Ran script again, much like with the first, left most options blank:

tim@basement:~/mediabox$ ls
docker-compose.yml  License.txt  mediaboxconfig.php  mediabox.sh  ovpn  README.md  settings.ini.php
tim@basement:~/mediabox$ ./mediabox.sh
What is your PIA Username?:
What is your PIA Password?

[2019-05-01 15:26] Dodgexander commented on #72
It got stuck again, this when I did answer questions
https://pastebin.com/MjrdRcSq

It also failed making a deluge permission. I don't get it because in my .env file my PUID and PGID are correct:

LOCALUSER=tim
HOSTNAME=basement
IP_ADDRESS=192.168.50.149
PUID=1000
PGID=1000
DOCKERGRP=999
PWD=xxxx
DLDIR=/mnt/data/downloads
TVDIR=/mnt/data/media/tv
MOVIEDIR=/mnt/data/media/movies
MUSICDIR=/mnt/data/

[2019-05-01 15:32] tom472 commented on #72
So yes you have noticed a few things -
The directories that you are using for the data need to be owned by your account.
There are some questions that can be left blank and "defaults" will be selected for them.

But Sorry - Yes you have to have a PIA account.
Mediabox is built around the use of PIA as the VPN service in place.
(I hope to be configuring it for more VPNs soon.)

So the script is get

[2019-05-01 15:48] Dodgexander commented on #72
thanks Tom and sorry if I have been wasting your time.

Does port forwarding work with your setup and PIA?

I have be deliberating over a VPN for some time but I think I might give VPN a try, if you do have a coupon I'd love it!

I've used PIA in the past but they don't have geo-unblocking which is a bit of a negative to me.

If I get another provider later on, is it possible to ignore/replace tha

[2019-05-01 16:24] tom472 commented on #72
No problem - not a waste of time at all.

Yes there is port-forwarding - that is way there are only 12 PIA endpoints to select from when the script get to this line.

I will see if I can get something from PIA - not sure if I will but I'll take a shot.
And yes if you would like to use a different VPN provider - try and run it by here first and I'll see if we can get that configured.

[2019-05-01 19:10] Dodgexander commented on #72
Hi Tom. I decided to sign up with purevpn, they offer the geo-unblocking I need together with port forwarding.

How can I get this all setup with mediabox?

[2019-05-02 02:21] tom472 commented on #72
Incorporating PureVPN into Mediabox might be hard to do.
It looks like there is only one Docker Container out there currently that has support for PureVPN, and that container has Transmission as the torrent client.

This would take a while to get worked into Mediabox.

Let me give it an initial shot and see how involved it becomes.
I'll touch base back here this weekend.

[2019-05-02 02:55] Dodgexander commented on #72
thanks, it would be great to have it working.

Is it not possible to adapt it to work with https://github.com/binhex/arch-delugevpn as you mentioned in the readme?

They have .opvn config files just the same as other providers.

https://support.purevpn.com/openvpn-files

I guess I'll give it a shot to test.

[2019-05-02 16:08] Dodgexander commented on #72
@tom472

I got it working with this config using https://github.com/binhex/arch-delugevpn

http://paste.ubuntu.com/p/mQ39mkGp9N/

Just need to convert it to docker-compose.yml format.

Do you think there could be a way you could implement the option for a custom VPN?
The only thing that changes from using PIA is:

    -e VPN_USER=xxxxxx \
    -e VPN_PASS=xxxxxx \
    -e VPN_PROV=purevpn \

And als

[2019-05-02 21:02] tom472 commented on #72
Awesome - thanks for giving it some testing - and coming back with the details.

OK - so you didn't have to create any custom OpenVPN files?

However it looks like the last 2 port mappings are different:
The PIA config has:
    -p 8112:8112
    -p 8118:8118
    **-p 58846:58846
    -p 58946:58946**

You're config has:
	-p 8112:8112
	-p 8118:8118
	**-p 78678:78678
	-p 99999:99999**
Both **78678** a

[2019-05-02 21:40] Dodgexander commented on #72
I had some trouble using them because they had been signing them with out of date certificates using md5 but after contact with their support they provided updated ones. Then I just placed the .ovpn file that included them into my config/openvpn directory.

These were different ports I altered myself, the default port that is used in bithex's script is indeed different. You probably already know b

[2019-05-02 21:44] Dodgexander commented on #72
I managed to get mediabox working with deluge just by copying my custom compose section into your dokcer-compose.yml.

I can't compose it anymore though due to a bunch of errors. Some containers won't start:

ERROR: for nzbget  UnixHTTPConnectionPool(host='localhost', port=None): Read timed out. (read timeout=60)

ERROR: for lidarr  UnixHTTPConnectionPool(host='localhost', port=None): Read timed o

[2019-05-03 13:12] tom472 commented on #72
OK 2 things --
Is there a link / site where I can get the correct OVPN file(s) that their support pointed you to?

And when you say:

You are referring to the `delugevpn/config/openvpn/` directory right?
i.e. the same location I'm dropping the PIA OVPN file to.

[2019-05-03 17:08] Dodgexander commented on #72
They have out of date files in their support articles that are signed with certificates that are no longer accepted by Openvpn. I have obtained a .ovpn file from their support which I can edit to connect to several different servers and I also received a working certificate and key that I should be able to place in the same directory as all of their servers but I am currently testing which server

[2019-05-04 00:08] Dodgexander commented on #72
I'm trying to experiment with the different open VPN config files to see if I can get a working pattern. Then I can share them with you.

The only difference between the configs I have is the VPN server address but they have many other servers which still use the old config and don't work.. At least with my tests

[2019-05-04 00:45] tom472 commented on #72
So I can't make this automatic without having the ovpn file(s) included.
To add PureVPN into Mediabox proper I would need those file(s).
If they are unavailable or the ones that are available don't work that really makes this much more difficult.

The main focus around Mediabox is that users just need to answer a few questions and everything works, the parts needed for configuration need to be ava

[2019-05-21 23:07] tom472 commented on #72
This turned out to be more of a "Feature Request" to add support for PureVPN

However it appears that they do not provide readily available "good / working" OVPN files so unfortunately without them available - it is hard to get this added directly into Mediabox proper.

--Tom

[2019-05-21 23:07] #72 closed

[2019-05-26 15:51] wibuf opened #74 "Restoring Backups"
Is there anyway we can add to the readme a quick guide on how to restore plex/radarr/sonarr backups? That will help a lot of people I think.

Thanks

[2019-05-26 17:02] wibuf opened #75 "Add SABnzbd support"
Is it possible to add SABnzbd support?

[2019-05-28 16:59] tom472 commented on #75
This should be pretty easy to add.

The fine folks over at LinuxServer.io do have a Docker Image for SABnzbd so rolling that into Mediabox would likely be fairly easy to accomplish.

Stay tuned I'll try and get to this maybe this week.

Thanks
--Tom

[2019-05-28 17:20] tom472 commented on #74
Hey @wibuf -- What types of backups are you referring to?

Backups from within the applications themselves?
Or
Backups from the included Duplicati application?

While there are some settings that need changing for use with Mediabox, Mediabox's documentation is not meant to replace the "general" documentation for each of the individual apps included.
Adding documentation related to specific applica

[2019-06-01 05:18] rudolph4404 opened #76 "sonnar & radarr not talking to deluge"
sonarr & radarr have stop communicating with deluge.
No new downloads can be started.
No finished downloads can be imported.
If I test the connection from inside sonarr I get:
Unknown exception: The operation has timed out.: 'http://192.168.0.165:8112/json'
radarr reports the following:
Unknown exception: The operation has timed out.

I recently installed SSH tools on my system using these instruc

[2019-06-02 16:39] tom472 commented on #76
@rudolph4404 - Are you sure the Deluge container is fully up and running correctly?
i.e. Can anything connect to Deluge?

I just went into my currently running config and Sonarr and Radarr are connecting fine using the "Test" function under Download Clients.

I'll test them both shortly on a freshly started stack and see how they are with that too.

[2019-06-02 16:43] rudolph4404 commented on #76
Deluge is up. I can manually add torrents.-ChuckOn Jun 2, 2019 11:39 AM, Tom Morgan <notifications@github.com> wrote:@rudolph4404 - Are you sure the Deluge container is fully up and running correctly?
i.e. Can anything connect to Deluge?
I just went into my currently running config and Sonarr and Radarr are connecting fine using the "Test" function under Download Clients.
I'll test them both short

[2019-06-02 16:46] rudolph4404 commented on #76
Also, nzb360 can still connect to and monitor deluge, sonarr & radarr.But transdroid can no longer connect to deluge.I suspect some sort of firewall issue related to the SSH install, but I'm not sure where to look...-ChuckOn Jun 2, 2019 11:39 AM, Tom Morgan <notifications@github.com> wrote:@rudolph4404 - Are you sure the Deluge container is fully up and running correctly?
i.e. Can anything connect

[2019-06-02 17:04] tom472 commented on #76
I'd start by disabling the firewall and see if that make things better.

Then more troubleshooting can go from there.

[2019-06-02 19:15] tom472 commented on #75
So there is a bit of bad news -
I can get the container added and working OK but it has an issue launching from behind Muximux. Looks like the SABnzbd container is doing some redirects immediately upon access which can be an issue for Muximux to handle.

Not giving up but not as simple of an add as I was expecting.

[2019-06-02 21:41] rudolph4404 commented on #76
The problem is a firewall issue.
After disabling ufw, the sonarr/deluge download client test works. Still testing other functionality.
You might want to add some testing for this into mediabox.sh. See https://linuxize.com/post/how-to-setup-a-firewall-with-ufw-on-ubuntu-18-04/ for more details. You should at least document what needs to be opened up for mediabox to work properly.

[2019-06-02 21:59] tom472 commented on #76
Do you have any logs from when it wasn't working?

It is still kind of odd that internal services trying to talk to each other were having issues. Unless the FW was having issues with passing traffic between the Docker network and host machine network.

I could probably test/check for ufw status but not sure people would want the script making adjustments to ufw during set-up. I guess I was thinki

[2019-06-06 15:41] PARC6502 opened #77 "Is there a reason to have deluge move completed torrents?"
I'm finding many shows and movies will not be moved to the completed folder for ages after being download and I often have to move them manually myself. I'm wondering if just having a single `/downloads` directory causes any issues?

[2019-06-06 23:34] tom472 commented on #77
This may be due to your seeding settings - Check what you have set under Preferences > Queue

Files can't be be moved if they are 'in use' i.e. still being seeded etc.

I've had no issues and no other reports of files not moving correctly.

[2019-06-08 17:06] PARC6502 commented on #77
I've checked the queue settings and although the torrent is stopped at the seed ratio I've set, it still was not moved automatically.

Would I see errors if I had the file copied whilst it was still seeding?

[2019-06-09 02:45] wiinc1 opened #78 "All Outbound Traffic Routed Through DelugeVPN Container"
Hi -
This is a great approach to media and appreciate all the time you all have invested in building this.

Is there a way to route all the traffic through the DelugeVPN container ensuring all traffic goes through the Private Internet Access server selected during configuration?  This isn't a bug, probably more feature request / configuration guidance.

Thanks in advance for the help.

[2019-06-10 13:03] tom472 commented on #78
Thanks for the nice comments.

I have thought about this, but haven't really considered it necessary.
To be honest the only traffic that really needs to be in the tunnel is the Deluge traffic.

Additionally there are other services included in the stack to help with other traffic -
i.e. the Deluge container provides a proxy address that can be used, and there is the Jackett container that is avail

[2019-06-11 01:45] tom472 commented on #77
Any chance you have any logs etc. I have no other reports of this as an issue.
Which directory exactly are the files not moving out of?

`/mediabox/content/completed`
or
`/mediabox/content/incomplete`

[2019-06-11 02:02] tom472 commented on #76
If you are looking for what would need to be open for Mediabox you can run this command from the `mediabox` directory:
`$ cat docker-compose.yml | grep {IP_ADDRESS}`

That will provide a list of all the ports that are used within Mediabox.

Aside form that - Mediabox would not be taking on any sort of firewall configuration(s).

Hope this helps - Thanks

[2019-06-11 02:02] #76 closed

[2019-06-11 02:04] tom472 commented on #74
@wibuf -- Did the above info help?
Do you have anything additional to ask / add?

[2019-06-11 12:58] wibuf commented on #74
No, I am good now thank you a bunch. One idea I had(this is probably the wrong spot for this), but would be to add in KVM/Kimchi. This would make mediabox more similar to Unraid but would still have more freedom having the individual dockers.

https://github.com/kimchi-project/kimchi

[2019-06-11 14:38] tom472 commented on #74
OK thanks for stopping back --

Kimchi looks pretty interesting, I'll put in on my radar and look into it.

Thanks
--Tom

[2019-06-11 14:38] #74 closed

[2019-06-11 19:35] wibuf opened #79 "Add bw_plex support"
Is there an easy way to add bw_plex to portainer?
bw_plex is an app that watches plex for tv shows playing, and skips the intro/theme song.

https://github.com/Hellowlol/bw_plex
Docker install:
docker pull hellowlol/bw_plex

[2019-06-11 20:11] tom472 commented on #79
It looks like this container is still fairly alpha.
Have you used/tested it?
Has it been working well?

I'll try and spin it up and see how it goes.

[2019-06-11 20:29] wibuf commented on #79
Works well enough for the most part. Especially for sitcoms where the intro is the same each episode. Great for binging a series in one sitting.

[2019-06-15 21:29] tom472 commented on #61
Finally fixed this - no idea why I never came back to it.
Should be fixed now via commit: https://github.com/tom472/mediabox/commit/42bb7d3e18b2e7508aff4e25ae0482d5201be8d1

[2019-06-15 21:29] #61 closed

[2019-06-15 21:31] tom472 commented on #70
Closing this as the upstream issue is still open.

As soon as they have it fixed it should replicate into Mediabox.

Workaround of restarting the container(s) is available for now.

[2019-06-15 21:31] #70 closed

[2019-06-15 21:32] tom472 commented on #77
The other thing to look into is your post-processing settings for whichever programs you happen to be using.

[2019-06-15 21:32] #77 closed

[2019-06-15 21:48] wiinc1 commented on #78
I shouldn't have said "all" apps traffic should be routed through the VPN.  I would like the traffic originating from the below apps routed through the VPN to ease my mind.

- CouchPotato
- Headphones
- NZBGet
- Radarr
- SickChill
- Sonarr

[2019-06-15 22:11] tom472 commented on #78
Again - there are services and programs in the stack already for this purpose.

Play around with the DelugeVPN Proxy and/or Jackett they will likely accomplish what you need to ease your mind.

[2019-06-15 22:23] wiinc1 commented on #34
I seem to have a similar issue as many of the users in this issue thread except the steps suggested didn't work.

I'm running Ubuntu 16.04.6 LTS.

I deleted the containers and rebuilt them - didn't resolve the issue.

I have attempted to hit the app via all the ports associated with the app shown in Portainer.  Those ports are:  58846, 58946, 8112, 8118.

I have attempted to access Deluge via the

[2019-06-15 23:15] jthegedus commented on #61
I'll give it a go next week and report back, thanks :smile:

[2019-06-15 23:58] wiinc1 opened #81 "DelugeVPN Container Not Available"
I seem to have a similar issue as many of the users in this issue thread except the steps suggested didn't work - reference to the closed issue:  https://github.com/tom472/mediabox/issues/34

I'm running Ubuntu 16.04.6 LTS.

I deleted the containers and rebuilt them - didn't resolve the issue.

I have attempted to hit the app via all the ports associated with the app shown in Portainer. Those port

[2019-06-16 01:58] tom472 commented on #81
Can you try a different VPN endpoint and see if that works?

I may need to recheck the list of PIA endpoints that allow port-forwarding.

[2019-06-16 02:01] tom472 commented on #81
Yeah looks like the Netherlands location has a known issue and may not actually be a port-forwarding endpoint.

https://www.privateinternetaccess.com/forum/discussion/33397/netherlands-now-back-on-the-list-of-port-forward-enabled-endpoints-but-it-doesnt-work

[2019-06-16 14:36] wiinc1 commented on #81
One of the other steps I did before posting was to run the below command in the containers terminal

`curl ifconfig.me`

Which gave a different IP (212.XXXXXX) ... I guess that gave me a false sense that everything worked when initially setup.

[2019-06-16 15:20] wiinc1 commented on #81
I went back through the initial setup shell script and changed the PIA to a different location and that appears to have resolved the issue.

Thanks for all the help and quick replies.

Out of curiosity... If there is not a connection to PIA established between the deluge container and PIA's server, how does Deluge know that it shouldn't download?

[2019-06-16 16:42] tom472 commented on #81
I believe that the Deluge VPN container has a built in check to verify that it has a valid tunnel established before it passes any traffic.

[2019-06-17 02:28] #81 closed

[2019-06-19 22:08] EddiaYauMean opened #82 "arch-delugevpn"
Hi,

First off thanks for the awesome work you have done here, just discovered a few days ago and its been great.

Been doing a bit of tweaking to the scripts etc. and thought I had broken it as lost connection Deluge after making a change to the volumes. Have been chasing the issue for a while and then thought to check the releases for delugevpn and it has been upgraded to v2 which must have made

[2019-06-20 00:35] tom472 commented on #82
Thanks for the kind words - glad you found Mediabox and are using it.

I am not seeing any issues - and I can see from my logs that Ouroboros has updated my DelugeVPN container:

`2019-06-18 18:01:59 : INFO : dockerclient : delugevpn will be updated`
`2019-06-19 12:00:44 : INFO : dockerclient : delugevpn will be updated`
`2019-06-19 18:00:40 : INFO : dockerclient : netdata will be updated`
`2019-0

[2019-06-20 09:54] EddiaYauMean commented on #82
Thanks Tom.

Yeah it's not connecting through Muximux but I can get it from going to the IP and port directly.

When in deluge web settings incoming IP address shows as the docker IP which I think it did not used to.

Sonarr and Lidarr can connect but Radarr gives an authentication error using the same details.

I could see one of binhex's commits was to fix an IP issue but I reinstalled after tha

[2019-06-20 12:05] tom472 commented on #82
You are running the script as your user correct?
Not with sudo and not as root.
Can you paste your .env file?

[2019-06-20 15:27] EddiaYauMean commented on #82
Yeah using sudo on a standard user.

If I remember the permissions failed line is when chmod the content folder, I amusing a usb drive mounted with correct permissions and the same owner as user and read/write masks for all users so thought it was failing as the content folder was not there.

Be in ffrom work around 7 so will paste the env file then, thanks again?

[2019-06-20 18:35] EddiaYauMean commented on #82
Hiya,

To be sure I've ran a fresh install of 18.04 server with full apt upgrade etc. and then followed install instructions as my user:

mediabox@media-server:~/mediabox$ ./mediabox.sh

Got the same issues with permissions in the install script:

./mediabox.sh: line 287: .env: Permission denied

Before a reboot I could actually connect to Deluge through Muximux but was still unable to get Radarr

[2019-06-20 19:10] tom472 commented on #82
Can you try running through it and letting the script create the folders.

I know it work be a "working" configuration for you but I'm interested in if even a default run through the script will work for you.

Also can you do an `ls -lah` so I can see who owns your `.env` file?

[2019-06-20 22:12] EddiaYauMean commented on #82
Hi mate,

Bit of progress at my end and ran through as advised.

Letting the script create the folders still gave me the same permissions error and resulted in the .env file having the new owner:

![default folders env](https://user-images.githubusercontent.com/2493031/59884041-ec538580-93ae-11e9-84a1-e53f402a2073.png)

Looking at the owner and don't know if makes as difference but as I sign in ov

[2019-06-20 23:49] tom472 commented on #82
Just curious -- any chance you can make a new user and try the process with no adjustments under that user account?

Make sure you add that user to the Docker Group: `$ sudo usermod -aG docker $USER`

Thanks for the heads-up on Radarr I'll take a look at that not connecting to Deluge.

SSH is fine - that is how I connect to my server so no worries there.

[2019-06-21 10:58] EddiaYauMean commented on #82
Thanks again and yeah not a problem.

Same deal with work times but will get you an update this evening :)

[2019-06-21 21:04] bdmorin commented on #71
This happened to me too
[code]
I tried killing the sleep process, but no luck.

is mediabox.sh supposed to be run as root? The user I'm running it as has docker permissions.

[2019-06-21 21:44] tom472 commented on #71
No it should be run as you the user.
Are you sure your PIA credentials are correct?
Did you let the script create your content folder or did you set it?
If you set it, does the user have the right permissions to that folder?

[2019-06-21 21:50] bdmorin commented on #71
Hmm.. Not entirely sure what I did wrong the first time, however I stopped everything with `docker stop $(docker ps -a -q)` then `docker system prune -a` then I saw some stuff wasn't owned by my user, but systemctl user. So I `chmod -R $USER:$USER ~/mediabox` then for good measure `chmod -R $USER:$USER /media` then ran the `./mediabox.sh` installer again, as my user account. And boom, everything c

[2019-06-21 21:56] tom472 commented on #71
Hmm .. while I'm glad it's working for you this is kinda of the second report of stuff being owned by system ctl.
Can you by any chance recall what things had the wrong owner?

Thanks for playing with it and for the kind words.

[2019-06-21 22:07] bdmorin commented on #71
I don't have my scrollback buffer, sorry. I know it was systemd and it was pretty much all the app directories in ~/mediabox, so stuff like `ombi`, `minio` and whatever had a different user. Which tells me I probably `sudo`'d something I shouldn't have.

[2019-06-21 22:34] bdmorin opened #83 "dmesg spam from netdata (i think)"
I am *NOT* an apparmor expert, so I'm not sure what's going on here.
[code]
My console dmesg is filled with it, with tens of thousands supressed.
[code]

I've read some things about how to deal with this, and it appears adding `--security-opts` to the docker container might deal with it. I'm unsure. I stopped the netdata container and the audit spam stopped.

[2019-06-21 22:38] bdmorin commented on #83
I added
[code]
as per https://github.com/titpetric/netdata/issues/55#issuecomment-417976535
and netdata and console play nice now.

[2019-06-22 01:34] tom472 commented on #83
Ah awesome find .. thanks for linking the thread from Netdata .. I also see their container leaving a zombie process hanging, I need to check to see if that has been reported.

I'll add in this fix and test, should get it pushed to the master branch during the weekend.

[2019-06-22 01:39] tom472 commented on #71
OK no problem thanks so much for all the info.
Yes .. everything -after- installing the pre-reqs is done as your user, but it seems many people tend to run the script with sudo or as root.
I'm going to be putting in a check for that this weekend.

Thanks again.
--Tom

[2019-06-22 20:44] tom472 commented on #83
OK this fix has been added via commit (https://github.com/tom472/mediabox/commit/14f27377ca2b7d6d0f94f7794456383080ee59ee)

Thanks @bdmorin for pointing out and for linking to the fix.
Much appreciated.

[2019-06-22 20:57] tom472 opened #84 "Known issue with Radarr"
Looks like Radarr has an issue connecting to DelugeVPN after DelugeVPN's recent update.

Issue is with Radarr is being tracked via this thread:
https://github.com/Radarr/Radarr/issues/3562

As soon as its is fixed there it shouldn't take too long for it to make it to the container.

[2019-06-23 23:52] tom472 commented on #82
@EddiaYauMean  Any chance to test with a new/different user?

Did it work any better if you were able to try that?

[2019-06-23 23:55] #83 closed

[2019-06-25 18:05] EddiaYauMean commented on #82
Hiya buddy and sorry on the delay, been a mental few days at work so not had much time to test, have been intermittently but should have popped on to let you know I would be delayed.

Run through of what I have tried:

On the install with bad permissions after the script I added a new user to that install and added to the required groups. This would not run the script in already in place due to th

[2019-06-25 18:52] tom472 commented on #82
I cannot see what might be making this fail for you.
At work now - I'll re-read this again later and see if anything jumps out.

Really sorry man that you are having this issue - I really hope we can figure it out.
This is like the first and only report of Mediabox not working at all. Crazy ..

Thanks
--Tom

[2019-06-26 02:12] tom472 commented on #82
Also thanks for the good eye going over the directions again, and mentioning the `iptable_mangle` section.

I just updated the directions with an additional line to now also add the module to `/etc/modules` for boot time execution.

--Tom

[2019-06-26 12:58] Zeds112 opened #85 "DelugeVPN not downloading to specified download folder"
In the ./mediabox.sh setup I’ve specified a downloads folder on an external HDD but DelugeVPN is downloading to the /home/nobody/downloads container folder on my OS drive.

I’ve tried mounting the HDD folder to /home/nobody/downloads but Deluge doesn’t download the files, it just hangs on ‘Downloading’ and no files are created on my HDD.

Any idea how to fix this?

[2019-06-26 14:29] tom472 commented on #85
Did you check the Troubleshooting section on the Welcome to Mediabox page?
Do the values shown there from your `.env` file settings look correct?

Can you paste the settings listed there from your `.env` file here?

[2019-06-26 14:55] Zeds112 commented on #85
Yeah the settings all look fine. It seems the files get moved to the downloads folder once they've finished, but they don't download directly to the downloads folder. Is that how it's supposed to work?

[code]

[2019-06-26 15:20] tom472 commented on #85
Download directory:
i.e. `DLDIR=/media/mount/MediaBox/MediaBoxDownloads`

Represents a top level folder for Download Actions -- there should be (several) sub-folders in there:
`completed` and `incomplete` would be where the downloads are "going to" depending on their status of in-progress/completion.

Then they get moved to the correct media type folder: `tv`, `movies`, `music`

Is that working fo

[2019-06-26 15:26] Zeds112 commented on #85
Yep there are these folders:

`completed  incomplete nzb  queue tmp`

There are some completed files in the completed folder which seems to be working fine but there's nothing in the incomplete folder. Do I need to change any of the Deluge settings in the WebGUI?

[2019-06-26 16:16] tom472 commented on #85
Is there currently anything in-progress downloading?
If not then incomplete will be empty.

As for the Deluge WebGUI you will need to set a level for the ratio of seeding to stop so the file(s) can then be moved. They will not get moved while still in use. (i.e. seeding)

[2019-06-27 20:52] tom472 commented on #85
Hey @Zeds112 -- How are things looking?

Things OK yet or still issues?

[2019-06-27 21:05] Zeds112 commented on #85
Still having issues unfortunately. Did a fresh install of Ubuntu 18.04 today and Deluge still keeps downloading directly into the Docker container folder on my SSD OS drive instead of the HDD download folder I specified.

I even tried moving the whole root Docker folder to my HDD using the following guide but NTFS drives are not supported for that:
https://stackoverflow.com/questions/50707738/move

[2019-06-27 21:22] tom472 commented on #85
When you say this:

Do you mean its actually downloading into the actual container - or is it saving to a (wrong) spot but on your host?

[2019-06-27 21:36] Zeds112 commented on #85
I mean it's downloading into the actual container folder - it's not downloading it to the 'incomplete' folder in my specified download folder.

My download folder is:
/media/mount/MediaBox/MediaBoxDownloads

This folder is empty:
![image](https://user-images.githubusercontent.com/28687745/60302417-c6d4f780-992b-11e9-96db-c25ff8c14f7c.png)

Instead the files are actively being downloaded to the con

[2019-06-27 21:37] Zeds112 commented on #85
Woops seems the screen grab failed, 1 sec

[2019-06-28 00:54] tom472 commented on #85
Can you add a screenshot from Portainer so I can check something?
Open Portainer - Go to Containers - then click on Delugevpn and take a screenshot of the "Volumes" section. It will be near the bottom.

[2019-06-28 11:45] Zeds112 commented on #85
Sorry was snoozing. Here:
![image](https://user-images.githubusercontent.com/28687745/60340129-a7c57c80-99a2-11e9-8038-767265bbe91e.png)

[2019-06-28 14:57] tom472 commented on #85
OK let's see if any of those mappings working?

Can you run this:
`$ docker exec -it delugevpn /bin/sh -c "touch /config/test_config_mount.txt"`
Do you end up with a file called `test_config_mount.txt` in your host `/home/zeds/Doumnets/mediabox/delugevpn/config` folder?

And then try:
`$ docker exec -it delugevpn /bin/sh -c "touch /data/test_data_mount.txt"`
And does that make a file called `test_

[2019-06-28 15:25] Zeds112 commented on #85
Yes both of those work correctly.

[2019-06-28 16:03] tom472 commented on #85
OK let's check the core.conf file can you run these and paste the output?

From the `medisbox` folder:
`$ cat delugevpn/config/core.conf | grep "download_location"`
and
`$ cat delugevpn/config/core.conf | grep "move_completed_path"`

[2019-06-28 16:04] Zeds112 commented on #85
Oddly it seems Sonarr also checks in its container /home/nobody/Downloads folder instead of /media/mount/MediaBox/MediaBoxDownloads/completed

If I add the following to the Sonarr and Deluge sections of the docker-compose.yml then then things seem to start working more correctly:

` - '/media/mount/MediaBox/DelugeDownloads:/home/nobody/Downloads'`

Ok I'll try that.

[2019-06-28 16:06] Zeds112 commented on #85
Here is the output:
[code]

[2019-06-28 18:46] tom472 commented on #85
OK - there's our problem -- And this one looks like it's on me.
I guess I don't have steps for setting the locations in the Deluge WebUI.

Can you go into the Deluge WebUI and set the "Download to" entry to `/data/incomplete`
And set "Move completed" to `/data/completed`

[2019-06-28 19:55] Zeds112 commented on #85
Thanks that seems to be working. Do I need to change anything for Sonarr?

[2019-06-28 19:59] Zeds112 commented on #85
'No' is the answer it seems - Sonarr was just taking a few mins to detect my test file had finished.

Seems all is in order but will post if anything unusual happens. Thanks!

[2019-06-28 20:01] Zeds112 commented on #84
Apparently the nightly has a fix implemented. What are the best steps to get it with mediabox?

[2019-06-28 20:13] tom472 commented on #85
Really sorry about that -
I am going to decide this weekend if I want to just make the change via the script -or- add it to the directions/configs page.

Thanks for hanging in while trying to figure this out.
--Tom

[2019-06-28 20:13] #85 closed

[2019-06-28 20:40] tom472 commented on #84
So with it being in the nightly I am hoping it will not take to long to get pushed to the master - once that happens Ouroboros should pick it up and things will be good.

As an interim fix you can run these commands from the Mediabox directory:
`$ docker rm -f radarr > /dev/null 2>&1`
`$ perl -i -pe "s/linuxserver\/radarr/linuxserver\/radarr:nightly/" docker-compose.yml`
`$ docker-compose up -d --

[2019-06-28 20:52] Zeds112 commented on #84
Thanks, I’ll give that a go.

[2019-06-28 21:15] Zeds112 commented on #84
That works great 👍

[2019-06-29 15:58] tom472 opened #86 "Known issue with CouchPotato"
Looks like CouchPotato is also having issues connecting to the new update of Deluge.

Took a brief look and did not see a link tracking this issue yet. I'll keep looking for a bit more before possibly opening one up.

[2019-07-02 01:36] CarterBrehm opened #87 "Transferring installation to new computer?"
What would be the best way to transfer the mediabox installation to another computer? I've upgraded my server recently and I don't want to have to reconfigure all of my settings. Since it's all in docker containers, what would I have to do? Is there an easy config file I can copy over as well as my media?

[2019-07-02 14:41] tom472 commented on #87
Yeah all of your "settings" should be located in the folder(s) on your host PC.
Is your media in your own folder that you used - or - did you let Mediabox set up your Media folders?
Inside the Mediabox folder you should have a directory tree like:

`mediabox`
`├── content`
`├── couchpotato`
`├── delugevpn`
`├── duplicati`
`├── headphones`
`├── historical`
`├── jackett`
`├── jellyfin`
`├── lidarr`

[2019-07-02 18:45] CarterBrehm commented on #87
What I actually ended up doing was just cloning the drive and putting that in my new server, because just copying over the files and rerunning resulted in Plex complaining about different server details, etc, and I just didn't care. I'm all transferred now though, thanks for the help!

[2019-07-02 18:45] #87 closed

[2019-07-04 00:11] Curtman commented on #84
Thanks very much for your work tom472.  Sorry if this isn't a great place to ask, but this solution worked well for me, except that I've been using your script somewhat hackishly..  My media is spread across two RAIDS with a tree that looks like foo/TV, foo/Movies, and bar/TV, bar/Movies, so I have been adding those to the containers that need access to them manually in Portainer.

Is there a bett

[2019-07-05 22:46] tom472 commented on #84
@Curtman Just an FYI I'm out of town briefly for the holiday.  I'll get back to this thread soon.
Thanks
Tom

[2019-07-08 20:58] tom472 commented on #84
@Curtman Thanks for using Mediabox, sorry for the issue you are having.

I guess I never really thought people would have multiple TV or Movies folders.

Is there any chance you can spread across the RAID by media type i.e.:
`foo\TV`
`bar\Movies`

That way the different data are at different locations but still only one TV and one Movies folder.

Or you might have to use some symlinks or something

[2019-07-09 08:58] EddiaYauMean commented on #82
Hi Tom,

Sorry been MIA - getting geared up to announce redundancy at work and first time since I have been operations manager so quite involved!!

Not sure what the deal is or if it is software/container change as I have not changed my method but ran a fresh install last night and it now installs without the error on the NUC, VM and my little arm project :)

Thanks for looking in to it :)

[2019-07-09 08:58] #82 closed

[2019-07-09 13:16] tom472 commented on #82
@EddiaYauMean Hey man no worries on being MIA I know how work can get.
Really glad it is working for you now that is great!

Saw you forked the project - if you do anything neat please feel free to stop back here and share.

CHEERS
--Tom

[2019-07-09 13:21] tom472 commented on #84
Since there have been several issues with the new version of Deluge (2.0.3) I have rolled back the DelugeVPN container to the 1.3.15 release via this [commit](https://github.com/tom472/mediabox/commit/27e53eaa86461aa258abafb129c9b4212f829f31).

Many of the issues are not showing as scheduled to be fixed until the 2.1 Deluge release.
I will be revisiting any Deluge 2.x issues once the 2.1 release i

[2019-07-09 13:21] tom472 commented on #86
Since there have been several issues with the new version of Deluge (2.0.3) I have rolled back the DelugeVPN container to the 1.3.15 release via this [commit](https://github.com/tom472/mediabox/commit/27e53eaa86461aa258abafb129c9b4212f829f31).

Many of the issues are not showing as scheduled to be fixed until the 2.1 Deluge release.
I will be revisiting any Deluge 2.x issues once the 2.1 release i

[2019-07-15 04:12] Curtman commented on #84
The situation came about when I began transitioning to a RAID with larger capacity drives, but they exist with media from two different people now.  Both RAIDs are very large and not easy to combine.  It's not a huge deal to have to re add the volumes to the containers again, other than that it works quite well.  I'm sure I could script it if I was more familiar with docker.  I just wondered if th

[2019-08-09 02:53] joshnat opened #88 "Change PIA credentials"
I changed my PIA subscription, which required me creating a new account.  I have a different username and password now.  How do I update DelugeVPN to use the new credentials?  PIA has an .ovpn generator; should I just replace the .ovpn file in the delugevpn>openvpn directory with one generated by PIA?

[2019-08-09 13:07] tom472 commented on #88
For a quick fix you can do this:

In your Medaibox folder there is a `.env` file - in that file are two variables:
`PIAUNAME=`
`PIAPASS=`
You can manually change those two variables to your new credentials.

Then once that is done you will want to run:
`$ docker-compose up -d` from inside the Mediabox folder.

Please let me know if you are not familiar enough with Linux commandline to make this ed

[2019-08-11 21:17] joshnat commented on #88
I've got no .env file at the root of my mediabox folder, but I do see env.txt in mediabox>www, and it has the relevant entries in it.  Do I need to copy or move/rename that file to the root of mediabox before running the `$ docker-compose up -d` command?

[2019-08-11 21:32] tom472 commented on #88
You will need to do a `ls -lah` since the `.` in front means its a hidden file.

[2019-08-23 17:35] tom472 commented on #88
@joshnat did you ever get this woking?

I am really going to try and carve out some time this weekend to add in the fix for this.

[2019-08-23 17:53] joshnat commented on #88
Yes, it worked perfectly.  Thanks.

[2019-09-08 23:35] wibuf opened #89 "GPU support for plex docker"
Is Nvidia GPU support possible to add to the plex docker?

Thanks

[2019-09-09 12:49] tom472 commented on #89
Hey @wibuf

There is actually a pull request in for this via: https://github.com/tom472/mediabox/pull/73
The issue is if you do not have a DRI device available but the PLEX section of the yaml file is looking to map it then the container fails to start.

I am trying to work out a way to see if the user has a device available or not and only add the mapping for it in the yaml file if it is availabl

[2019-09-09 14:17] wibuf commented on #89
Okay, since I know I have a device available, is there a way to edit the plex docker to use it now instead of waiting for the device check code to be done? Thanks

[2019-09-09 14:36] tom472 commented on #89
You will need to edit the `docker-compose.yml` file and add this to the PLEX section:

`devices:`
`    - '/dev/dri:/dev/dri'`

The spacing is very important, it should look like what is shown here after adding it in:
https://github.com/tom472/mediabox/pull/73/files

[2019-09-09 15:01] wibuf commented on #89
Where's that file located? I've been trying to make changes in portainer itself.

[2019-09-09 15:46] tom472 commented on #89
That file should be right inside the `mediabox` folder.
If you need to know exactly where that folder is you can open the Mediabox landing page on your Mediabox PC, click on the Mediabox icon and scroll down to the "Troubleshooting" section.
To locate where your `mediabox` folder is look at the value of: `PWD` in that section.

[2019-09-18 19:42] wibuf commented on #89
Does this change require a full restart or just the plex docker? I still can't get the GPU to transcode with plex, but I got it working fine with emby

Here's my docker-compose.yml, I copied and pasted right from the link you posted: https://i.imgur.com/dZD8qSo.png

[2019-09-20 14:45] tom472 commented on #89
@wibuf I'll have to get back to you on this... but I'm going to be away for a bit so it will have to wait until I get back.

--Tom

[2019-09-24 11:20] orbing opened #90 "More PIA VPN Options"
I live in Australia and the options for the servers available aren't great for downloading. Would it be possible to add all configurations to the repo?
P.S. Sorry i don't know how to add labels to issues.

[2019-09-24 22:37] tom472 commented on #90
I'll have to check into this because the DelugeVPN container needs port forwarding available. The sites to choose from are currently the ones that PIA offers for that option.

[2019-09-26 18:19] joshnat commented on #88
Tom, I'm having a problem with Deluge VPN that appears to be related.  Here's a log:

`OpenVPN started

Thu Sep 26 13:54:36 2019 NOTE: the current --script-security setting may allow this configuration to call user-defined scripts

2019-09-26 13:54:36,329 DEBG 'start-script' stdout output:

Thu Sep 26 13:54:36 2019 TCP/UDP: Preserving recently used remote address: [AF_INET]199.229.249.165:1198

Th

[2019-09-30 22:23] wibuf commented on #89
Still working on this. Think I'm a bit closer. I tried running nvidia-smi -L in the plex container console and get the error:
bash: nvidia-smi: command not found

[2019-10-01 16:09] tom472 commented on #89
You should not need nvidia-docker -
What to you get if you do `$ ls -lah` from the `/dev/dri` folder on your host PC?

[2019-10-01 16:22] wibuf commented on #89
/dev/dri$ ls -lah
total 0
drwxrwxrwx  3 root root       120 Sep  9 00:20 .
drwxr-xr-x 19 root root      4.1K Sep  9 00:20 ..
drwxrwxrwx  2 root root       100 Sep  9 00:20 by-path
crwxrwxrwx  1 root video 226,   0 Sep  9 00:20 card0
crwxrwxrwx  1 root video 226,   1 Sep  9 00:20 card1
crwxrwxrwx  1 root video 226, 128 Sep  9 00:20 renderD128

[2019-10-02 10:39] cthog commented on #84
Tom, you may want to consider just switching over to qbittorrentvpn, also by BinHex.  I struggled along last night, trying to get Deluge to save my settings (Sonarr won't work correctly if the docker folders don't match (i.e. completed downloads identified as "/data/completed" in both deluge and sonarr containers.)  Deluge *would not* preserve my preference (settings) changes (including activating

[2019-10-14 19:10] tom472 commented on #84
I can take a look into this and see how it fits.
Thanks for the suggestion.

[2019-11-01 01:49] neuman1812 opened #91 "Feature Request: Step through setup?"
Not sure if this has been requested,  But could you add a step or select option during install so as to not have multiple things you dont need added?

For instance you have couchpotato and Radarr.  You wouldn't need both.  or Plex if you have it on a different server.

[2019-11-03 16:50] tom472 commented on #91
I don't have this feature as there is a fairly simple way to address it after the stack is up vs. the amount of code needed to build the logic for a "selective" setup.

All of the containers are launched with the restart "unless-stopped" flag applied.
So all you need to do is after the stack is up is - go into Portainer and "Stop" any container(s) you are not interested in having running. Those se

[2019-11-03 16:57] tom472 commented on #90
Here are the locations that can be used because they are the ones that PIA allows for port-forwarding. Unfortunately for technical reasons we are limited to these locations.

The following port forwarding enabled gateways:

CA Toronto
CA Montreal
CA Vancouver
Czech Republic
DE Berlin
DE Frankfurt
France
Israel
Romania
Spain
Switzerland
Sweden

[2019-11-03 16:57] #90 closed

[2019-11-14 15:23] #91 closed

[2019-11-25 05:24] MHP47 opened #92 "Option for different VPN provider"
PIA is going through some changes, being acquired by a company with a shoddy past.

See [here](https://old.reddit.com/r/PrivateInternetAccess/comments/dz2w53/our_merger_with_kape_technologies_addressing_your/)

Is there any plans/roadmap for offering alternative VPN providers during install?

P.S. Awesome repo, love my setup, been using for nearly a year now

[2019-11-25 14:05] tom472 commented on #92
Yes - I have seen the info of the purchase and that the new company is a little less than stellar. I am taking a little bit of to to see where all the chips fall and weighing options.

Yes there will likely be an new/alternate VPN provider option coming very soon, please stay tuned.

And @MHP47 Thank you very much for the nice words about the project.

[2019-12-06 21:56] wibuf opened #93 "Add Tdarr Docker Support"
Tdarr is an app for file transcode automation

https://github.com/HaveAGitGat/Tdarr
https://old.reddit.com/r/PleX/comments/e73tw5/tdarr_beta_videoaudio_library_transcoderemux/

It has Nvidia GPU support so that would be nice to have as well

[2019-12-19 19:09] jam3srox commented on #89
Im having issues getting HW transcoding working in Plex it just continues to do CPU transcoding. I've added the device to the `docker-compose.yml` file exactly as suggested.

[code]

My `/dev/dri` directory is the exact same as above minus card1.

[code]

The drivers are installed for the card and it looks to be working.

[code]
[code]

Any help or suggestions would be appreciated.

[2019-12-19 20:12] wibuf commented on #89
I went through the same and never was able to get it working.

[2020-01-08 21:41] Lucetia opened #94 "Stuck on configure"
I followed the script instructions on the front page and when it gets to the

"Configuring DelugeVPN, NZBGet, Muximux, and Permissions" line it then says
"This may take a few minutes. . . "

24 hours later it is still on this same line with no update.  Any suggestions on what might be causing it?

[2020-01-08 21:54] tom472 commented on #94
The very next thing that happens requires the DelugeVPN container to have started.
Can you verify that your PIA credentials are correct?

Can you start another terminal session and check the contents of the:
`.env file` that should be in the `mediabox` folder

It is a hidden file so to see it you'll need to do and `ls -lah`
cd to the `mediabox` folder and then `$ cat .env`

[2020-01-08 22:24] Lucetia commented on #94
Checked the file and the username and password are correct.   Here is everything that is in the file, if it helps (removed sensitive information)

`###  ------------------------------------------------
###  M E D I A B O X   C O N F I G   S E T T I N G S
###  ------------------------------------------------
###  The values configured here are applied during
###  $ docker-compose up
###  ----------

[2020-01-08 22:46] tom472 commented on #94
Can you see if any containers started up?
From the command line can you run this and paste the output:

`$ docker ps --format "table {{.Names}}\t{{.Status}}"`

[2020-01-08 23:13] Lucetia commented on #94
Yeah, I've been messing around with it and I think it's because the one the main page is linked to is 64 bit and the processor in my machine that I'm using is 32 bit.

Found another method to install it and doing that now.  Will update once that is that.  So far it looks like my mistake for not catching that when you asked to do the docker-compose-v test on the front page that the error was there

[2020-01-08 23:40] tom472 commented on #94
I'm actually re-writing that line maybe you can test it for me .. can you try this:

`$ curl -s https://api.github.com/repos/docker/compose/releases/latest | grep "browser_download_url" | grep -m1 `uname -s`-`uname -m` | cut -d '"' -f4 | xargs sudo curl -L -o /usr/local/bin/docker-compose`

That should get the right version for any type of device.

Then run the:
`$ sudo chmod +x /usr/local/bin/doc

[2020-01-09 00:02] Lucetia commented on #94
Sure.  I'll test it out a bit later tonight.  Reformatting the OS and starting fresh so I can test it without any interference of the things I was messing with

[2020-01-09 00:05] tom472 commented on #94
Gotcha -- sounds good.

[2020-01-09 00:40] Lucetia commented on #94
Just to make sure I had it right, replace the `sudo curl -L https://github.com/docker/compose/releases/download/1.24.1/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose`
with the `$ curl -s https://api.github.com/repos/docker/compose/releases/latest | grep "browser_download_url" | grep -m1 `uname -s`-`uname -m` | cut -d '"' -f4 | xargs sudo curl -L -o /usr/local/bin/docker-comp

[2020-01-09 01:15] tom472 commented on #94
Did you happen to grab it before I fixed it to include the backticks in the command?

[2020-01-09 02:10] Lucetia commented on #94
Nope, I think I was too slow when I saw it earlier.  The one I saw was that I see now, but apparently looking at what I copied/pasted it looks like it's omitting the `, but it's a copy/paste from what you wrote and it's putting in the `

[2020-01-09 04:34] tom472 commented on #94
OK I'll have to work on that command.

Can you follow the two commands here to get docker-compose:

https://github.com/docker/compose/releases/tag/1.25.1

Reminder you will need to `sudo` that second line with the `chmod` command.

[2020-01-09 16:02] Lucetia commented on #94
If I do those two commands the first time I typed the:

It gave me curl: (23) Failed writing body (0 != 9) and I had to retype it with sudo at the start and it worked.

After doing the `sudo chmod +x /usr/local/bin/docker-compose` I followed it by `docker-compose -v` and got the same line 1: Not: command not found error.  I think it's mainly because their github defaults to install 64 bit rather t

[2020-01-09 16:32] Lucetia commented on #94
Alright, now an even weirder issue.  I have the device connected to the internet via WIFI and after it starts installing the containers it disconnect my wifi adapters and the system says it can no longer find any.  The first time it locked up during startup and I had to unplug and reboot.  Did that and restarted the script and it was starting up each container and then as it got done it gave an er

[2020-01-09 17:59] tom472 commented on #94
What type of device are you trying to run this on?

I am not sure this project as a whole will work on/for 32-bit systems.

[2020-01-09 18:16] Lucetia commented on #94
Right now I was trying to run it off a Raspbian and prior Ubuntu 16.04 and was struggling to get it to work with either.  The processor does support 64 bit, but they suggest 32 bit for it so I might try Ubuntu 16.04 64 bit again and see how it goes.  The problem I had with it was just getting a VNC to go as I prefer messing with it that way rather than hooking up another monitor to it.

[2020-01-09 21:36] Bramblefoot opened #95 "nginx reverse proxy, certificates"
I setup mediabox and I think it's been going fairly well so far.
I have what I think is a complicated setup.
I'm running Windows 10 Pro pc, and under that I am running a virtualbox Ubuntu 18.04 vm, and in that vm I'm running mediabox. Think about that....I'll wait. LoL

Win10Pro (plex is here, 192.168.xxx.xxx)
↳ Ubuntu 18.04 VM (bridged also 192.168.xxx.xxx)
   ↳  Mediabox Containers (bridged 172.

[2020-01-21 06:34] s3arch1 opened #96 "Jackett won't update"
First of all this build is awesome btw.  The only issue I'm having is Jackett won't update so now its broken because Sonarr won't connect to it

[2020-01-21 06:39] #96 closed

[2020-01-21 06:39] s3arch1 commented on #96
nevermind on this forgot for a second how portainer and docker works

[2020-01-21 16:49] tom472 commented on #96
@s3arch1 -- OK Thanks for using Mediabox and glad you got it worked out.

[2020-02-04 02:46] rudolph4404 opened #97 "Connection not secure error"
Today I started getting a "connection not secure" error when trying to bring up mediabox in my browser.
This is happening in both Firefox and Chrome.
I am using Ubuntu 18.04 LTS. All current patches have been installed.
I did try rebooting and clearing the cookies and cache.
Somewhat surprisingly, if I include the port number in the URL I can get to deluge.

[2020-02-05 22:17] tom472 commented on #94
@Lucetia Are you still trying to get this going?
Can I close this issue?

[2020-02-05 22:19] tom472 commented on #97
Well it is not being run with a certificate so it is not "secure" as in running over https.
Is that the type of error you are referring to?

[2020-02-11 18:36] #94 closed

[2020-02-26 10:03] Faddermakker commented on #92
Did you make any progress since november?

[2020-03-03 03:57] tom472 commented on #92
Currently I haven't switched away from PIA.
However even if I don't, I do want to try and add options.
Unfortunately for a while I have been very tired up from work and have not had much extra time to put into Mediabox recently.
Hoping I will get some time available soon.
And thank you very much for the nice comment on the project!

[2020-03-03 03:58] #97 closed

[2020-03-04 00:34] MHP47 commented on #92
@tom472 I am planning to make the move across to [Mullvad](https://mullvad.net/en/)
I will look to create a change, and submit a PR for it, but no idea on timeline :) But I'll try

[2020-03-29 15:29] tom472 commented on #84
The Deluge issue appears to have been fixed and thus using a current version of the DelugeVPN container appears to be working.
Adjusted in commit: https://github.com/tom472/mediabox/commit/0cf6f52281f72a63f2061d81fe4fef1c32424b26

[2020-03-29 15:29] #84 closed

[2020-03-29 15:29] tom472 commented on #86
The Deluge issue appears to have been fixed and thus using a current version of the DelugeVPN container appears to be working.
Adjusted in commit: https://github.com/tom472/mediabox/commit/0cf6f52281f72a63f2061d81fe4fef1c32424b26

[2020-03-29 15:29] #86 closed

[2020-04-02 04:28] JJR12 opened #99 "Deluge Failing to connect"
Hey Tom great set up you made.  I've been using it for a while with absolutely 0 issues until today.  I just updated mediabox (./mediabox.sh) and now deluge is giving me an. error that its failing to connect any ideas?

Thank you

[2020-04-02 04:52] Bramblefoot commented on #99
I also recently had an issue with delugevpn container. I could not connect
to the delugevpn UI. If this is your issue, continue reading.

I found out that during startup, a script was failing. The setting
STRICT_PORT_FORWARD was set to yes, however the server I picked must have
stopped allowing port forwarding. This caused the container startup to
error, never allowing the delugevpn UI to start. I

[2020-04-02 05:32] JJR12 commented on #99
@Bramblefoot  thank you for the help!

While looking at the logs its the port forwarding for sure but after digging around on the PIA forum it seems like all the CA and France servers are down in regards to port forwarding so while your solution worked, I found that when configuring you could also select a different server that has port forwarding up and running in my case it was the frankfurt one

[2020-04-05 14:29] tom472 commented on #99
@JJR12 @Bramblefoot
Thanks to both of you for bringing of this issue and finding solutions.
Glad it was more or less a issue with PIA's port forwarding server(s) and that appears to be corrected now.

[2020-04-05 14:37] tom472 commented on #99
Re-Opening until CA servers are resolved as well.

[2020-04-05 19:06] tom472 commented on #95
Closing this as it is beyond the scope of the purpose of this product.
The only item that should be necessary to reach externally is Plex which generally works right out of the box.

[2020-04-05 19:06] #95 closed

[2020-04-27 12:17] nfields03 opened #102 "Issue with Jackett page"
I was just noticing the other day that my connection to Jackett in Mediabox stopped working through the menu. When I click on it, I get "SERVERIP redirected you too many times." When I go to the manual page for Jacket though I can see that the container is running just fine (http://SERVERIP:9117/UI/Dashboard works perfectly). Mediabox as a whole is still running great, thanks for all that you do!

[2020-04-28 03:03] tom472 commented on #102
@nfields03 -- thanks for the report I'll have to look into it.
I myself am currently not able to reproduce the issue at the moment.

Hopefully if anyone else is having the issue they'll jump in this thread.

Also have you tried clearing your cache and/or trying to hit the Mediabox main page via a private/incognito window?

[2020-04-28 12:48] nfields03 commented on #102
Hmm, cleared cache but same result. Tried incognito window, same result. Tried multiple browsers (Edge, Chrome, Firefox), no change. I'll keep digging since you can't repro and see if I can find some commonality. I've got a test VM on another host to try in my lab this week, just wanted to see if anyone else is running into the issue.

[2020-04-28 23:39] RZKtheKid opened #103 "DelugeVPN installing plugins"
Hi,

Looking to install a better Extractor plugin. I'm trying to do this so it extracts into the same folder it downloads in. Sonarr won't pick up the files once they've been extracted to completed root directory.

Tried installing from the WebUI, tried putting the egg into the deluge config -> plugins directory and restarted the container but no luck. The egg is for python 2.7..

Sorry if I don't

[2020-04-29 00:02] #103 closed

[2020-05-09 01:18] #99 closed

[2020-05-11 10:35] nfields03 commented on #102
Still no luck on this, same error from the other test VM. I'm loathe to wipe and rebuild the whole setup but I might do so today just to make sure everything is running as clean as possible as I ran into a weird issue when setting up nzbget as well. If that persists past the rebuild, I'll log it as a separate issue.

[2020-05-20 05:14] rudolph4404 opened #104 "Ubuntu 20.04 LTS support"
Is Ubuntu 20.04 LTS supported?

[2020-05-20 21:01] KN4KNG opened #105 "Issues with completing mediabox.sh on Raspberry Pi swarm (Indefinitely Pausing)"
At the end of the set-up mediabox.sh script it indefinitely pauses at:

You need to set a username and password for a of the programs - including.
The Deluge daemon, NZBGet's API & web interface, and Minio.
What would you like to use as the access username?: username
What would you like to use as the access password?: password

Configuring DelugeVPN, NZBGet, Muximux, and Permissions
This may take

[2020-05-22 01:06] tom472 commented on #104
@rudolph4404 There's no real reason it shouldn't work. I haven't had a minute to actually test a deploy on 20.04.
Generally anyone already on the previous LTS i.e. 18.04 will not be notified of the next LTS until that hits it's xx.xx.1 release.
So I'll give it a shot on my VPS if I get a chance to but I can't think of any real showstoppers.

Tom

[2020-05-23 10:28] edorexy opened #106 "Tried but failed with error on exit status on Ubuntu 20-04"
ERROR: failed to register layer: Error processing tar file(exit status 1): write /usr/lib/gconv/IBM1371.so: no space left on device

[2020-05-23 11:02] edorexy commented on #104
ERROR: failed to register layer: Error processing tar file(exit status 1): write /usr/lib/gconv/IBM1371.so: no space left on device

[2020-05-23 13:48] tom472 commented on #104
@edorexy Where about in the process did this happen? And was this on an upgraded system already running Mediabox or a fresh 20.04 system and new install?

[2020-05-23 13:52] tom472 commented on #106
Closing this issue we'll track 20.04 issues in the other thread here:
https://github.com/tom472/mediabox/issues/104

[2020-05-23 13:52] #106 closed

[2020-05-23 16:05] edorexy commented on #104
Fresh install, just about the point of launching the media server after the last docker pull

[2020-06-14 14:24] wibuf commented on #89
Been doing more research on this. Looks like its an issue between Nvidia-container-toolkit, Docker 19.03+ and Portainer: https://github.com/portainer/portainer/issues/3143

Won't have a fix for awhile: Not scheduled for development until later this year (post July).

I have not been able to get any workarounds to work successfully. Would probably need to abandon portainer for the plex docker, and

[2020-08-16 18:29] chili-bean opened #107 "Unable to deploy new Plex container using Portainer"
I'm using portainer.  I navigate to containers, then plex.  I press the "duplicate/edit" button, and change the name to "plex2", then press deploy the container, I get a red pop up that states "Failure, Object not found inside the database".  I have tried to duplicate a few other containers, and get the same error.

I'm running docker on Ubuntu 20.04.1 LTS

I ran ./mediabox.sh again, and it mostly

[2020-08-17 01:22] Bramblefoot commented on #107
Make sure the original container is off. It could be that the ports are in
use from the original container.
Just an idea...

Thanks,
Bill

"Try not. Do, or do not. There is no try." - Yoda

On Sun, Aug 16, 2020, 1:30 PM chili-bean <notifications@github.com> wrote:

[2020-08-17 01:29] chili-bean commented on #107
Thanks, but I did try that.  There has to be something about the whole compose yaml, since this happens with all the containers.

[2020-08-18 18:38] tom472 commented on #107
@chili-bean -- I'll try and take a look into this but I'm curious are to what you are actually trying to accomplish with trying to duplicate containers. If I new the purpose we might be able to attack it differently.

For example - if you go to "Stacks" within Portainer you see a warning that "Control" is limited because the stack was created outside of Portainer. The issue you are having might be

[2020-08-18 18:57] chili-bean commented on #107
Let me preface this by saying while I'm not new to IT, I am new to the concept of docker and lxc containers, and your mediabox seemed like a good place to get started learning about them.

What I originally wanted to accomplish was to add a new volume to the plex container so I could use a different NFS mount point for my media.  I have since discovered the workaround of mounting my NAS below the

[2020-09-02 01:56] Twonkk opened #108 "remove programs from install"
hey, was wondering if its possible to remove some programs from the install script? i really only need the CouchPatato, Deluge and plex (and PIA)?

also, works great in a VM Ubuntu Server 20.04

[2020-09-02 17:06] tom472 commented on #108
The simplest way is to just use Portainer after the set-up is done and just"stop" the containers you don't want/need.
Docker will remember those are stopped and will not restart them back up later on.

Also - Thanks for the info re: Ubuntu Server 20.04 --
I had just started some testing on an "upgraded" 18.04 to 20.04 and that was fine.
Was your Server 20.04 a fresh install of that version?

[2020-09-09 02:47] Twonkk commented on #108
@tom472

I apologize for the late response, been a long week. both the test VM (always test first :P ) and the actual deploy to my home server had been fresh 20.04 installs and neither had issues with installing.

[2020-09-19 18:51] willstoeckel opened #109 "deluge UI no longer accessible"
I'm getting a refused to connect error when trying to launch the deluge UI. I verified I had the latest code with a git pull and reran the mediabox.sh script. I tried selecting a different openvpn server as well. I checked that the process is running and there is a listener on tcp 8112. Platform is Ubuntu 18.04.5 LTS. Let me know if there any specific log files I can attach.

[2020-09-19 19:44] Bramblefoot commented on #109
Look specifically at the logs for that container in portainer. Whenever
deluge goes down for me, it's PIA and their exit node not port forwarding
properly.
Hope this helps.

Bill
"Try not. Do, or do not. There is no try." - Yoda

On Sat, Sep 19, 2020, 1:52 PM willstoeckel <notifications@github.com> wrote:

[2020-09-19 21:03] willstoeckel commented on #109
Thanks Bill. Did some digging and it does look like it's an issue with the PIA node. Maybe I'll see if I can manually edit or use their auto-generated config file.
,
2020-09-19 16:55:54,904 DEBG 'start-script' stdout output:,
[warn] Exit code '56' from curl != 0 or no response body received,
[info] 1 retries left,
[info] Retrying in 10 secs...,
,
2020-09-19 16:56:06,260 DEBG 'start-script' stdout

[2020-09-20 00:57] willstoeckel commented on #109
The only way I was able to get this to work was to edit the docker-compose.yml file and set VPN_ENABLED=no in the deluge section. I can use PIA VPN on the server itself but then that breaks the plex remote access. I'd rather just keep it split-tunneled to deluge if possible.

[2020-09-20 01:08] Bramblefoot commented on #109
In my experience, It's just a reality with PIA. Their port forwarding goes
down occasionally. And when that happens it affects deluge. I've found no
solution and just have to ride it out when it happens. And once the PIA
port forwarding comes back up, deluge just starts working again.
Fortunately I rely more on usenet than torrents.

Good luck.
Bill

"Try not. Do, or do not. There is no try." - Yo

[2020-09-20 06:24] willstoeckel commented on #109
Thanks Bill. I found this update from PIA so it does look like it's the port forwarding. Leaving it here in case anyone else comes along with the same problem:
https://www.privateinternetaccess.com/helpdesk/news/posts/important-updated-server-changes-and-related-issues

[2020-09-20 06:24] #109 closed

[2020-09-20 14:44] archshift2 opened #110 "Request - Add FFmpeg or HandbrakeCLI"
Consider adding ffmpeg or handbrakecli as a docker container in order to support Plex DVR post-processing scripts.

[2020-09-21 16:21] tom472 commented on #109
Just an FYI - for all --
You can easily re-run `.\mediabox/sh` to choose / select a different PIA server when a location is having a Port-Forward issue.

[2020-09-21 16:33] tom472 commented on #108
@Twonkk -- While yes there are ways to do SSL/Port Forwarding - I generally do not cover those here.
While sure it's "cool" to have access to Muximux and/or the other interfaces while outside your network.
Aside from PLEX there really isn't a "need" for access to the others.

And then setting up configs for this comes in way to many ways to kind of be able to support.
My simple recommendation is t

[2020-09-21 16:34] tom472 commented on #110
I can look into this - do you happen to have any links to specific containers or any write ups on the topic?
Thanks

[2020-09-21 16:36] tom472 commented on #104
20.04 has had some successful installs and upgrades --
Any luck?

[2020-09-21 18:26] archshift2 commented on #110
I had attempted to modify my setup with a separate handbrake docker based on a plex forum I came across. Since it is a separate container, a watch folder strategy would be needed.
[https://forums.plex.tv/t/plex-dvr-linux-docker-post-processing-script-using-handbrake-to-compress-video-and-retaining-close-caption/492673](url)

Since the encoder would really only be used for DVR post processing, it s

[2020-09-22 14:16] archshift2 commented on #110
There is a way to invoke the built-in Plex encoder. I was able to download the script below and post-processing was successful.
[https://github.com/cedarrapidsboy/pms-postprocessing](url)

Suggest marking closed given the specific nature of this request.

[2020-09-22 17:36] #110 closed

[2020-09-27 23:20] #104 closed

[2020-09-27 23:20] #108 closed

[2020-09-27 23:21] #107 closed

[2020-10-01 11:38] edorexy commented on #104
YES, It Worked great

[2020-10-01 23:22] rudolph4404 opened #111 "PIA mandatory update"
Have you seen this yet?
https://www.privateinternetaccess.com/blog/private-internet-access-legacy-vpn-network-sunset-announcement-30-september/

Will rerunning mediabox.sh update PIA?

[2020-10-02 01:25] Bramblefoot opened #112 "Possibility of adding NZBHydra2"
I'm hoping we can get NzbHydra2 or Hydra2 added to the stack. I'm not exactly sure what the difference is between them, but they are both in Linuxserver.io. I feel it can be a useful tool since all your indexers can be centralized in 1 container. If you decide it's worth adding, I'm sure you will decide which one is "better" than the other.

Thanks,
Bill

[2020-10-02 13:24] tom472 commented on #111
I have seen the announcement and need to look into the impact / effect on Mediabox.
Stay tuned -

Thanks

[2020-10-02 13:26] tom472 commented on #112
OK -- I'll take a look at them and see if I can get one added.
Many of the container's are already Linuxserver.io so adding another one of theirs is usually pretty easy.
Thanks for the suggestion ..

[2020-10-03 03:50] tom472 commented on #111
OK .. I have looked into the latest info on the deluge-vpn container and the maintainer of that has adjusted for the next-gen PIA network.
There are some configuration adjustments that I need to make but I should have this incorporated into Mediabox during this weekend.

[2020-10-05 01:09] tom472 commented on #111
OK as of commit https://github.com/tom472/mediabox/commit/732d14457b48aee56f86341d0c0c846c21a8b245 Mediabox should configured for using the PIA Net-Gen Network.
All that should be needed is to re-run the `./mediabox.sh` script.

I'll leave this issue open for a few more days for any issues but this should be good to go.

Thanks
--Tom

[2020-10-05 01:46] tom472 commented on #102
@nfields03  -- Are you still having this issue? I am still unable to replicate it ..

[2020-10-05 11:19] nfields03 commented on #102
Sorry, it stopped happening for me as well so you're welcome to close it
out.

Cheers,

Nick

On Sun, Oct 4, 2020 at 7:46 PM Tom Morgan <notifications@github.com> wrote:

[2020-10-05 19:34] #102 closed

[2020-10-10 23:09] taylorscape7 commented on #111
Hello Tom,

I attempted to update the script after I had a storage failure and the deluge : 1198 is refusing to open. I destroyed the VirtualBox and restored the original copy that had a working Deluge and it was opening via web interface. I updated the script and again I'm unable to access the interface. I'm trying to make sense of the error log and would love some help. If need be I can copy the

[2020-10-17 15:53] #111 closed

[2020-11-02 18:57] nickelnine opened #113 "Cipher compatibility with PIA and OpenVPN"
Hi,

I ran an update to `mediabox.sh` to use the Next Gen PIA network, but now I am seeing these errors in the delugevpn supervisord.log:

[code]

Reading in other [forums](https://www.reddit.com/r/PrivateInternetAccess/comments/j1iyl7/openvpn_client_no_longer_connects_cipher_not/), it seems there is an incompatibly between PIA and OpenVPN, for which the suggested workaround is to downgrade OpenVP

[2020-11-02 19:11] tom472 commented on #113
Hmm -- I'll have to see what I can find out.

Can you tell me which server specifically you tried to connect to and does this error occur for any server you select?

Thanks
--Tom

[2020-11-02 20:26] nickelnine commented on #113
It occurred using Israel and Spain servers but I just now tried Toronto and Deluge connects.

Seems to be okay for me now.

[2020-11-03 01:18] tom472 commented on #113
OK this is has been addressed in the DelugeVPN container FAQ
(I guess I should check the FAQ) :)

https://github.com/binhex/documentation/blob/master/docker/faq/vpn.md
Q22 and A22
The fix for this is to specify a fallback cipher on the client side to a cipher that PIA does support, this is done by editing the file `/config/openvpn/<file with a ovpn extension>` and adding the following line:

`data

[2020-11-03 02:02] tom472 commented on #113
OK as of commit https://github.com/tom472/mediabox/commit/58f596b9920967f114fda55e0012512ebf81f110 there is a fix in place to add the `data-ciphers-fallback aes-256-gcm` line to the OVPN file in use for the DelugeVPN container.

You should be able to just re-run `./mediabox.sh` and get the update/ fix.

Thanks
--Tom

[2020-11-03 18:07] nickelnine commented on #113
I ran `./mediabox.sh` to update, but it still throwing the same error using Israel.ovpn.

I ran it again and chose Toronto, and Deluge is responding.

I did look at the FAQ, and manually changed the original Israel.ovpn in accordance with FAQ, restarted Deluge container, and Deluge responded fine.

The Toronto.ovpn works without following the FAQ changes.

I noticed though, in the FAQ, it says to

[2020-11-03 21:32] tom472 commented on #113
@nickelnine -- Yeah hazards of acting to quickly
The info in the FAQ changed overnight

My comment above was literally a copy and paste from the FAQ last night.

and adding the following line:

This morning I see the FAQ was then re-updated with the info you are seeing / posted.
Been at work all day and haven't had a minute to push an update for the "new info" in the FAQ.
Should hopefully have it

[2020-11-03 23:13] tom472 commented on #113
OK let's try this again -- as of commit https://github.com/tom472/mediabox/commit/8ecb42de33ad4fc2db1e7507bf78597a56d08645 the correct fix for the PIA / OpenVPN ciphers should be fixed.

You should be able to just re-run `./mediabox.sh` and get the update/ fix.

Thanks all for hanging in ..

[2020-11-11 21:47] tom472 commented on #113
OK the info for the fix appears to have held solid for a while now.
And the logs in the delugevpn appear to looking good.
Calling this closed.

[2020-11-11 21:47] #113 closed

[2020-11-14 01:53] jeffjarratt commented on #112
I too would find this feature useful.

[2020-12-24 21:05] #105 closed

[2020-12-24 21:06] tom472 commented on #105
Raspberry Pi is not the target for this project.

[2021-02-01 22:35] cthog opened #114 "Portainer containers "object not found""
I'm trying to edit my Plex container, as I've done in the past, in order to add a new folder to the docker.  However, I'm unable to duplicate/edit the image, as portainer keeps telling me "database object not found."  Here is the log line from Portainer:
2021/02/01 17:11:45 http error: Unable to proxy the request via the Docker socket (err=Object not found inside the database) (code=500)

Is there

[2021-02-02 17:56] tom472 commented on #114
I'll take a look into it - I'm also going to be switching Portainer to the new version/branch soon as well so that might fix it too.
Hang tight - hope to likely make the change this weekend.

[2021-02-04 19:35] cthog commented on #114
Thanks, man!

[2021-02-14 18:14] tom472 commented on #112
OK as of commit 882f7bd56f9736cdba1e62c76c9783ccedb3b9fe NZBHydra2 has been added to Mediabox
Please let me know if you have issues with it.

[2021-02-14 18:14] #112 closed

[2021-02-14 18:17] tom472 commented on #114
Sorry for the delay on this --
As of commit 882f7bd56f9736cdba1e62c76c9783ccedb3b9fe - Portainer has been switched to the Portainer-CE branch.

Not sure if this is going to correct your issue but give it a shot and see what you get.

[2021-02-21 05:08] tom472 commented on #114
@cthog -- Have you had a chance to update Mediabox and retest your issue?

[2021-02-21 16:46] cfaber01 opened #115 "Muximux stops responding"
Have you had any occurrences where muximux will stop responding? This has happened on several rebuilds and restarting the container does not work. Rerunning the script does work, but it resets some env variables that I have custom set. Any ideas?

[2021-02-21 17:03] tom472 commented on #115
I have not had any issues with that ..
When you say stops responding does that mean the Muximux page itself doesn't load or the redirects stop working?
Does anything appear in that log for Muximux when this happens?

Also what are custom setting is the `.env` file?
Is is something that I could/should add to the `.env` file?

[2021-02-21 17:28] cfaber01 commented on #115
The page stops responding on port 80. The logs show the service as up and running (no errors). Browsing to the ip or fqdn displays “page cannot be displayed”. Navigating to the proper ip:port does work for the intended services (minus 80). I’ve recreated and restarted the container several times. Rerunning the script will restore, but also reverts env settings that I have custom. Nothing that shou

[2021-02-21 17:44] tom472 commented on #115
OK -- I'll look into it if I can ... I have also been looking into other landing pages this weekend too.
So if you happen to have any suggestions let me know.

The issue doesn't happen to be like bad cache or anything like that does it? When it is happening if you go to the page in a private/incognito tab does it still not open? -- Just a thought --

And thanks again!

[2021-02-21 20:24] cfaber01 commented on #115
Correct, tried other browsers and incognito in Chrome with all the same result.

[2021-02-26 15:39] Bramblefoot commented on #112
Thanks for adding nzbhydra2. The only thing I noticed is I don't think it's
being added as a button in muximux.
If you decide to get it added to muximux, there is an icon for it. I find
it on the 11th page of that little icon selection pop-up.

Thanks,
Bill

"Try not. Do, or do not. There is no try." - Yoda

On Sun, Feb 14, 2021, 12:14 PM Tom Morgan <notifications@github.com> wrote:

[2021-02-26 15:52] tom472 commented on #112
Make you you have fully updated Mediabox - you might have caught a brief window when I had duplicated an existing icon when adding NZBHydra2 to Muximux -- also make sure cache is cleared for the Muximux page -- there is an icon for it in Muximux for sure - but it was incorrect for a small window.

[2021-03-02 23:29] cthog commented on #114
Sorry man, been out of touch for a week or so.  You know, Valheim.  What's the easiest way to update Mediabox?  Just run the .sh again over my existing setup?

[2021-03-03 02:07] cthog commented on #114
So, I updated mediabox using ./mediabox.sh, and all went well--except for Sonarr.  There's a lot of garbage in the logs, but what stood out was "[v2.0.0.5344] System.UnauthorizedAccessException: Access to the path "/config/config.xml" is denied.", and elsewhere it complains about trying to write to a read-only database.  Oddly, neither Lidarr nor Radarr have this problem.  I googled the first erro

[2021-03-03 02:34] Bramblefoot commented on #114
Whichever account you ran mediabox.sh with.
You could also check the user and group on all the other folders in the
mediabox folder, that should also tell you. They all should be the same.
And they should not be root. A recursive chown would be fine to fix it at
the mediabox level, seeing as all the containers should also be running
with the same user and group.
I don't work here... LoL I'm just a

[2021-03-03 02:48] cthog commented on #114
Thanks Bill, I'll give that a shot.  Another issue (which is actually related to my original problem) is that I can't duplicate or edit containers in portainer.  When I try, it doesn't pop up an error like it did originally (object not found), now it just says "deployment in progress" with the little spinny circle, but there's no indication of any progress... ever.  Not ideal.

[2021-03-03 20:02] tom472 commented on #114
So just in general - I am curious as to why you are looking to duplicate or edit containers.
i.e. Are this changes that would be good to be adjusted in project as a whole?

Portainer will not have full access to the stack because it was not 'created' in Portainer.
Under the Stacks List you will see the stack control type will be 'limited'.

Some starter questions:
- Has this ever worked for you wi

[2021-03-03 20:07] tom472 commented on #115
@cfaber01  -- There has been a Mediabox update - have you run that and seen if this issue is still happening?

[2021-03-03 20:55] Bramblefoot commented on #114
Tom I'm not the OP, but here are a couple reasons I have edited containers:
1. I don't want mediabox as the default port 80 website, so I edited the
port for that container.

2. I have a few different drives mapped to the server, and want those
represented in sonarr and radarr, do I added new volumes to those
containers.

I eventually decided to just edit the Docker-Compose file from a 2nd ssh
con

[2021-03-03 21:58] tom472 commented on #114
@Bramblefoot -- OK cool thanks for the info
Have you / were you ever making any of the changes via Portainer?
And if yes - was that method successful for you?
And again thanks for the info and the contributions to this issue thread.

--Tom

[2021-03-04 01:49] cthog commented on #114
Hi Tom, my use case is pretty much Bill's #2.  I have a couple drives that I needed bind to the container, and portainer was the easiest way to do it.  I would stop the container either duplicate or edit it, and no problems.  The reason for my original post was that Portainer stopped letting me do that, with the "object not found" error.  With this newer version of portainer, I just get an endless

[2021-03-04 02:52] tom472 commented on #114
Really interesting I tested like three containers tonight -
Changing ports / adding volumes all via Portainer and they all worked fine.
I'm stumped at the hang up you are experiencing.

Also it would likely be a lot easier to edit the `docker-compose.yml` file directly for additional drives etc. than going into the docker .json file.

I'm looking/hoping to add an additional file browser to the sta

[2021-03-04 03:07] cthog commented on #114
Ah, well you see, I barely know what I'm doing, lol!

[2021-03-05 23:41] cthog commented on #114
Just to make things more interesting, I noticed that I had no trouble using Portainer to amend a mount in Sonarr, but had no luck in Radarr.  I thought this was interesting, because I had previously had no luck with Sonarr (which wasn't picking up my old settings--until I remember to change the image back to sonarr:preview.)  SO, to experiment, when I next tried to duplicate/edit Radarr, I made su

[2021-03-06 18:43] rjpete516 opened #116 "Delugevpn volume is not mapped to correct location on host"
I just updated the mediabox stack by running the script.  I was having some strange issues with delugevpn not connecting to PIA properly.   After running the current mediabox.sh everything updated nicely, delugevpn container connects to PIA correctly through the next gen servers.

However, the volume map from the delugevpn container  /data is not right.  All the other containers that utilize the s

[2021-03-06 19:09] rjpete516 commented on #116
Fixed.  I have never had to modify a container before and did not realize that I needed to "Duplicate" the container then I could change the maps and then redeploy the new container.  Worked perfect.

I still don't know why it created the volume map in the first place.

[2021-03-06 22:59] #116 closed

[2021-03-15 18:58] Bramblefoot opened #117 "Media request app Overseerr"
This is Not an issue...
Tom,
I was recently turned onto this new media request app called Overseerr. You may have also heard of it. If not I highly recommend you spin up a container of it. Unfortunately it is alpha software currently, but I like it much better than OMBI. Check it out and see what you think. It's good looking and easy to use.

[2021-03-15 19:57] tom472 commented on #117
OK - I'll take a look into it and see how it looks/works.
Thanks for the recommendation ..

[2021-04-08 02:52] tom472 commented on #117
Hey @Bramblefoot -- as of commit https://github.com/tom472/mediabox/commit/8599e8a3b422bbc61dd9baff9368bc0099c59a98 Overseerr has been added to Mediabox.
Go ahead and update and see how it works our for you.
I'll leave this Issue open for a bit more..
Thanks again for the suggestion

--Tom

[2021-04-08 02:53] tom472 commented on #114
@cthog
Has this issue gotten any better?

[2021-04-08 02:54] #115 closed

[2021-04-08 03:03] tom472 commented on #79
This project still doesn't seem to be ready for primetime -
Removing as a feature request.

[2021-04-08 03:03] #79 closed

[2021-04-08 03:43] archshift2 commented on #93
I was able to setup Tdarr fairly easily using a docker-compose.override.yml file. This file sits alongside the docker-compose.yml file and will slipstream any additional containers into the mediabox install. Only item missing is you will have to manually add a link in the muximux file after each update or type the address/port manually to acces

[docker-compose.override.zip](https://github.com/tom

[2021-04-08 17:34] tom472 commented on #93
@archshift2 - Thanks for the info and the file -- I'll try and get a bit of time to have a look / test.

Thanks
--Tom

[2021-04-08 17:52] tom472 commented on #93
@archshift2 -- For the "missing part" you mention of needing to add a link in Muximux --
Would that be for just the web-frontend part of Tdarr?
Or would the "node(s)" need a Muximux entry too?

[2021-04-08 18:40] archshift2 commented on #93
@tom472 - its just for the WebUI.
I have been running this setup for a couple weeks and it has worked really well. Saved about 20% of disk space. The distributed node is a nice feature too. I was able to install the node on my daily PC and run transcodes overnight to assist with the load.

Muximux image for reference.
![image](https://user-images.githubusercontent.com/48061790/114079506-e5da1a80-9

[2021-04-08 19:20] tom472 commented on #93
OK that shouldn't be to hard to account for and add in ..
The weekend is coming - maybe I'll be able to get this added in - thanks again for the effort, info and feedback.
--Tom

[2021-04-13 01:05] #114 closed

[2021-04-13 01:05] tom472 commented on #117
Closing issue now - container has been added and seems to be stable.
--Tom

[2021-04-13 01:05] #117 closed

[2021-04-13 01:49] tom472 commented on #75
Is this still wanted/needed?
Or does NZBGet and/or NZBHydra2 cover the functionality?

[2021-04-13 03:46] Bramblefoot commented on #75
It's probably a personal preference, but I've read that nzbget is lighter
weight and faster, which is preferred.

Just my 2 cents...

Bill

"Try not. Do, or do not. There is no try." - Yoda

On Mon, Apr 12, 2021, 8:50 PM Tom Morgan ***@***.***> wrote:

[2021-04-14 02:11] tom472 commented on #93
Thanks to the awesome post and yml file from @archshift2 -- Tdarr has been added into Mediabox.
Please give it a test and see how it is working.
Thanks Again @archshift2 !!

[2021-04-16 01:15] archshift2 opened #118 "Plex Volumes Error"
Latest docker-compose.yml appears to have an error for the plex container.

Previous setup:
            - '${MISCDIR}:/data/misc'
            - '${MOVIEDIR}:/data/movies'
            - '${MUSICDIR}:/data/music'
            - '${TVDIR}:/data/tvshows'

Current setup:
            - '${MISCDIR}:/data/misc'
            - '${MOVIEDIR}:/data/movies'
            - '${MUSICDIR}:/data/music'
            - '

[2021-04-16 01:23] tom472 commented on #118
Thanks for catching that -- yeah copy paste can bite ya sometimes ..
I went through and put the volume mappings in Alpha order - and must have pasted the Plex TV one from the Tdarr config.
Fixed via commit https://github.com/tom472/mediabox/commit/1f60683e3acea1ec1548e469bedce33a897e2a88 please update and test.

Thanks again @archshift2 !!

[2021-04-16 01:28] archshift2 commented on #118
commit 1f60683 changed to '/data/tv'. needs to be '/data/tvshows' to continue working with prior installs.

[2021-04-16 01:35] tom472 commented on #118
Wow I must really need some coffee!!
Let's try commit https://github.com/tom472/mediabox/commit/d77679db683832ffa601f1262f71d344d45bfe51 as a fix ...
Thanks @archshift2 -- Really appreciate you catching this .. Twice!

[2021-04-16 02:32] archshift2 commented on #118
Back up and running. Thanks @tom472

[2021-04-16 02:32] #118 closed

[2021-04-16 02:52] #93 closed

[2021-04-16 02:53] #75 closed

[2021-05-18 13:41] RickyxNguyen opened #119 "Video Size Compression"
I have been using this for quite a while and have been running out of space recently. Is there a way you can add Sickbeard MP4 Automator and Handbrake to reduce the file size but preserve the quality?

[2021-05-18 17:56] tom472 commented on #119
I can look into this - and see what I can do.
However in the meantime - Tdarr was recently added and I believe that application should have this functionality available in it.
Have you looked into trying that to accomplish this?

I'll be honest I don't make use of Tdarr myself but it should be able to help with this.
But I'll also take a look into the item(s) you mentioned as well.
--Tom

[2021-05-18 22:01] RickyxNguyen commented on #119
I did not notice the new update so I will definitely try tdarr.

[2021-05-21 03:09] RickyxNguyen opened #120 "Requestrr"
I saw a new api called requesterr where you can request shows and movies from discord and I found it could be really time saving since you could do this in your phone. A possible feature enhancement?

[2021-05-21 14:14] tom472 commented on #119
Hey @RickyxNguyen -- Just want to verify
Was Tdarr able to accomplish what you needed?
Just want to make sure I won't need to look into the options you mentioned at the top of the thread,

And thanks for using Mediabox
--Tom

[2021-05-21 14:18] RickyxNguyen commented on #119
Yes it did it works great

[2021-05-21 14:19] tom472 commented on #120
This looks pretty cool and the fine folks over at LinuxServer.io do appear to have a container for this.
So in theory - this should be relatively easy to roll in to Mediabox.
Time permitting - I'll try and add this in over the weekend.

Thanks for the suggestion

[2021-05-21 14:20] tom472 commented on #119
OK excellent!

Thanks again.

[2021-05-21 14:20] #119 closed

[2021-05-24 02:24] tom472 commented on #120
@RickyxNguyen
OK with commit https://github.com/tom472/mediabox/commit/f35598143ad2bb84b0a2028e371bc12d5d3e4c6f Requestrr has been added to Mediabox.
Please give it some testing and let me knwo how it goes.

Thanks
--Tom

[2021-05-24 02:32] RickyxNguyen commented on #120
Will do and will let you know if there are any problems

[2021-05-25 23:57] RickyxNguyen opened #121 "NZBGet"
When downloading a show Sonarr can’t pick up the download after it finishes

[2021-05-26 00:04] RickyxNguyen commented on #121
Only occurs when using usenet

[2021-05-26 14:18] tom472 commented on #121
Hmm -- I have no way to test that - no usenet access.
But I'll recheck the folder mappings and make sure they have the correct entries.

[2021-05-28 03:28] tom472 commented on #121
So I did some checking to lay it out:

The docker-compose  file maps this volume for NZBGet: `${DLDIR}:/downloads`
`${DLDIR}` should equate to `[path]/mediabox/content`

NGBGet has **MainDir**: Root directory for all tasks.
`/downloads` so from above would equate to `[path]/mediabox/content`

Then has **DestDir**: Destination directory for downloaded files.
`${MainDir}/completed` which would equat

[2021-05-28 15:12] tom472 commented on #121
OK so NZBGet appears to be doing the correct steps and getting completed downloads to the completed folder.
Are there any errors in the Sonarr logs related to post-processing for getting the items to the TV folder?

[2021-05-28 16:42] archshift2 commented on #121
There are some inconsistencies in the yml file. Some of the directories use /downloads some use /data and some use /media. It would be nice to re-write the yml file and be consistence across all the platforms, but unfortunately an update like that would break everyone existing install base. There is a way to fix this within sonarr, add a remote path mapping in the download client section.

Remote

[2021-06-01 18:05] tom472 commented on #121
@RickyxNguyen -- any chance the recommendation from @archshift2 helps/helped with the issue?

[2021-06-01 18:05] tom472 commented on #120
Any update on this?
Does this appear to be working?

[2021-06-02 00:05] RickyxNguyen commented on #121
I haven’t had the chance to try it out yet but I will let you know the minute I get it done

[2021-06-14 14:00] tom472 commented on #120
Gonna close this as the service has been successfully added -- if anyone has issues using the container please open a fresh issue.

[2021-06-14 14:00] #120 closed

[2021-07-14 19:27] RickyxNguyen commented on #121
Worked perfectly

[2021-07-16 21:51] #121 closed

[2021-07-16 21:52] tom472 commented on #121
Excellent .. thanks!

[2021-07-26 13:57] tom472 opened #122 "Minio Update - Page not loading"
There was an update to the Minio container and it looks like there might an issue with it loading in Muximux.
Muximux loads pages in frames and some applications do not work with that.

For now you can reach Minio via `Mediabox Server IP` port `:9001`

I am currently looking into possible alternatives for the main landing page to replace Muximux.

[2021-09-01 15:54] RickyxNguyen opened #123 "Plexdrive"
I was wondering if it would be possible to add plexdrive support in case you have a large local library.

[2021-09-07 15:40] tom472 commented on #123
Hey -- sorry for the delayed response I was on vacation.
Not familiar with Plexdrive but I can take a look into it.

[2021-10-12 17:39] dwbauer opened #124 "Install issues: Creating muximux ... error, Creating glances as well"
I have worked through several issues and I thought I was close to success but:
Help would be appreciated,
Don

Configuring DelugeVPN, NZBGet, Muximux, and Permissions
This may take a few minutes...

Can't do inplace edit on delugevpn/config/core.conf: Cannot make temp name: Permission denied.
Can't do inplace edit on delugevpn/config/core.conf: Cannot make temp name: Permission denied.
Can't do in

[2021-10-13 17:13] #124 closed, assigned to nobody

[2021-11-12 03:14] tom472 commented on #122
With the switch to Homer as the default landing page via commit d4965ff07ee7750c8c4a03005e8c234dbc3406a7 this issue is now resolved.

[2021-11-12 03:14] #122 closed

[2021-11-12 05:27] tom472 commented on #29
Not really enough want for this - closing for now.

[2021-11-12 05:27] #29 closed

[2021-11-14 10:22] crusie opened #125 "running script on new install of ubuntu stuck...."
I get to install the whole thing but when it goes to

Configuring DelugeVPN, NZBGet, Muximux, and Permissions
This may take a few minutes...

it just stops - is there a log I can look at to see what goes wrong ?

[2021-11-14 14:42] crusie commented on #125
hmm seems it was a permission error. I just tried fixing permissions and the script chugs along - Would have been nice if the script had thrown out an error instead of just stopping though

[2021-11-14 14:42] #125 closed

[2021-11-15 01:37] tom472 commented on #125
@crusie - What permissions did you have to fix?
I can try and add an error check but I'd need to know more about what you needed to adjust to then account for that.

[2021-11-15 14:41] rjpete516 opened #126 "DelugeVPN fails to complete startup"
I just made some changes to things on my system and I re-ran the mediabox script.  The script finishes and the containers start up, but DelugeVPN does not establish it's VPN.  All other containers appear to be functional, but can not communicate with Deluge.

From the Log accessed via Portainer:

Where do I go from here?

Thanks,

Rob

[2021-11-15 21:33] tom472 commented on #126
@rjpete516 -- This could possibly be a momentary issue with the PIA endpoint you have currently selected.
Can you try running the script again and pick a different PIA endpoint and see if there is any change?

Also - apologies for needing to re-run the script to change the PIA endpoint.
Having a way to change the PIA selection easier / on the fly is on my To Do list.

Let me know

--Tom

[2021-11-16 12:21] rjpete516 commented on #126
That did the trick.  I thought I had tried switching to a different endpoint.  Maybe they were having issues on multiple endpoints.

 Thanks,

Rob

[2021-11-16 12:21] #126 closed

[2022-03-01 04:32] nickelnine opened #127 "404 page not found"
Hi - been using this service for a while, it is a great piece of work. I ran mediabox.sh tonight because Deluge was giving me some problem that I was not able to fix so thought an update might help. Now after running the script several times I'm faced with a different problem of - `404 page not found` - when going to my server IP address.

The last I used this script was on a 1.x release when Muxi

[2022-03-01 14:36] tom472 commented on #127
Ah -- sorry that you are having an issue --

Couple things to try:
1 - Can you try reaching the main page using an incognito/private browser tab/instance?
Sometimes the switch to different landing pages can lead to cache/cookie issues.

2 - Can you reach Portainer via `ip_address:9000` and check the status of the containers?
To see which ones are up / down / showing issues etc. just to get a feel

[2022-03-01 16:12] nickelnine commented on #127
1) No luck in reaching the landing page via incognito window - same `404 page not found` error
2) I can reach Portainer and all containers are up and running. The Homer container has this in the logs which I assume is okay:
`127.0.0.1 - - [01/Mar/2022:16:04:15 +0000] "GET / HTTP/1.1" 200 3230 "" "Wget"`

[2022-03-01 16:23] nickelnine commented on #127
Found the issue. Another service I have is using port 80. I stopped that service and Homer now launches.

My initial Deluge issue still persists though, I will open another issue for it.

[2022-03-01 16:23] #127 closed

[2022-03-01 16:43] nickelnine opened #128 "Deluge cipher issue"
Hi again,

My initial problem with Deluge being unreachable/unavailable which I briefly mentioned in #127, led me to upgrade the service but looks like the problem (at least for me) persists. From the Deluge container log:

[code]

Looks like a cipher issue?

[2022-03-02 04:00] #128 closed

[2022-03-02 04:05] tom472 commented on #128
All good -- no worries
Glad it is all working for you and happy to hear you are enjoying Mediabox.

[2022-03-19 17:51] Bramblefoot opened #129 "Solution for IP addresses that change"
First off, thanks for making this project. It makes running/managing these containers easy.
I would like to offer a suggestion for a problem I have.
The problem is ip addressing.
When using the system provided bridge network, you cannot assign ip addresses. And occasionally during updates or some other activities where containers get restarted or stopped and started, they come back up with differe

[2022-03-20 22:01] tom472 commented on #129
Thanks for the comments -
There shouldn't be any references to the `172.X` "docker network" IPs.
The project is meant to use the host machine IP for all references.
What individual container's or settings are you using the `172. IPs` for/in?

[2022-03-20 23:50] Bramblefoot commented on #129
I have had to use the 172 docker network in all my containers.
A specific example is: I will sometimes go into overseerr to make a media
request and the radarr/sonarr connection is down and I'm unable to make the
request. The quality profile and root folder will not be available because
it can't connect. This is caused by the container getting a new IP. This
can happen to radarr/sonarr because the

[2022-03-21 00:04] tom472 commented on #129
So when you try to open _anything_ from the Homer start page they all go to host `IP:port` are you saying that none of those ever open or load for you?

What about if you go into Portainer and then into the stack info for the Medaibox stack.
At the far right there will be a column that says "Published Ports" and those will be links to the applications again via host `IP:port` -- do those open for

[2022-03-21 01:31] Bramblefoot commented on #129
Interestingly enough, that all works.
Portainer links using host:port open.
Homer works using the same host:port links  .
Muximux works using the same host:port links.
The 1 container that is exposed to the internet via nginx, the nginx
sites-available file points to the host:port.
But, when setting up containers, using the host:port doesn't work. But
using the 172 network does.
This is the gettin

[2022-03-21 01:53] tom472 commented on #129
OK so I am not really following:

sites-available file points to the `host:port`.
But, when setting up containers, using the `host:port` doesn't work. But
using the 172 network does.

What container is exposed to the internet?
Mediabox does not expose anything to the internet in its config.
And what do you mean by "_when stetting up containers using the `host:port` doesn't work_."
Setting up what

[2022-03-21 02:17] Bramblefoot commented on #129
I know, it doesn't make sense to me either.
You asked if the links in portainer worked. They do.
All those are pointing to the hosts ip and container ports.  (192.168.1.177:
XXXX)
Those same links work in muximux, and homer.
However when I am setting up any of the containers to use like Overseerr,
and pointing to my Radarr container, and use the host ip and container port
(192.168.1.177:7878) that

[2022-03-21 17:53] Bramblefoot commented on #129
Well, I think I figured it out. The simplest solution was just overlooked
by myself. I have Ubuntu's UFW running on the host with very few open
ports. If I turn that off, or add ports to it that are being used by
mediabox I can point containers to the host ip!
This revelation leads me to a couple questions...
Is there doc somewhere that said to have UFW turned off? I don't recall
seeing it.
Is tha

[2022-03-21 19:54] tom472 commented on #129
Glad you got it figured out --

I don't think I have specific instructions for the UFW to be off - so that might be something I'll add to the docs.
However per the [Ubuntu docs](https://ubuntu.com/server/docs/security-firewall) turning it on would be a user selected action.

So while I don't specifically mention that it should be off - the default setting on an Ubuntu install is off.
And thus if i

[2022-03-21 19:57] #129 closed

[2022-05-04 17:36] Ashe opened #130 "HAMA support for anime"
Hello, I'm interested in trying to setup a home server and this repo seems to be the easiest way to get started as it contains everything I think I'd need (not that I'd know).

One of my usecases is that I want to watch anime and have it sync with my anime list (I use anilist). I don't know how easy or difficult it'd be to add this to the configuration.. so I guess this issue is mostly just to ask